{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
        <h4 class="text-center">CREER NEW PICTURE</h4>
            <div class="col-md-6 offset-md-3">
                    <form action="{% url 'homepage' %}" method="post"  enctype="multipart/form-data" >
                        {% csrf_token %}
                         {{ form.as_p }}
                         <button type="submit" value="Submit" class ="btn btn-primary">UPLOAD IMAGE</button>
                    </form>
            </div>
<!--#action="{% url 'post' %}" -->
{% endblock %}