


{#{% block content %}#}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
<style>
    table, td, th {
      border: 1px solid black;
    }

    table {
      border-collapse: collapse;
      width: 100px;
    }

    th {
      height: 70px;
      width: 150px;
    }

    td {
      width: 200px;
        padding-top: 2px;
        margin: 2px;
}

</style>

        <div class="text-center">
            <h2>CARNET DES MESURES</h2>
        </div>

    <div class="table-responsive">
    <table id="bootstrapdatable" class="table table-striped table-bordered" width="100%">
        <thead><br/>
            <tr>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Coude</th>
                  <th>Epaule</th>
                  <th>Manche</th>
                  <th>Tour Manche</th>
                  <th>Taille</th>
                  <th>Pointrine</th>
                  <th>Longueur Boubou</th>
                  <th>Longueur Patanlon</th>
                  <th>Fesse</th>
                  <th>Ceinture</th>
                  <th>Cuisse</th>
                  <th>Patte</th>
                  <th>Create_at</th>
            </tr>
      </thead>
      <tbody>
                {% for mesure in mesure_list %}
                           <tr>

{#                                <td>{{ mesure.id }}</td>#}
                               <td>{{ mesure.person_mesure.prenom }}</td>
                               <td>{{ mesure.person_mesure.nom }}</td>
                                <td>{{ mesure.coude }}</td>
                                <td>{{ mesure.epaule }}</td>
                                <td>{{ mesure.manche }}</td>
                                <td>{{ mesure.tour_manche }}</td>
                                <td>{{ mesure.taille }}</td>
                                <td>{{ mesure.poitrine }}</td>
                                <td>{{ mesure.longueur_boubou }}</td>
                                <td>{{ mesure.longueur_patanlon }}</td>
                                <td>{{ mesure.fesse }}</td>
                                <td>{{ mesure.ceinture }}</td>
                                <td>{{ mesure.cuisse }}</td>
                                <td>{{ mesure.patte }}</td>
                                <td>{{ mesure.created_at }}</td>
                           </tr>
                    {% empty %}
                {% endfor %}
        </tbody>
    </table>
</div><br/><br/><hr>
<footer>
    <div>
        <p class="justify-content-center">
            kalaliso vous remerciez de votre fidelité à notre service !
        </p>
    </div>
</footer>