{% extends 'base.html' %}
{% load static %}


{% block content %}
        <div class="container " ><br>
          {% for view_person in person_detail.all %}
{#              'view_person': person_detail,#}

          {% endfor %}
                 <div class="card justify-content-lg-center" style="width: 18rem; background: lightblue ">
                          <div class="card-body" >
                               <a href="{% url 'contacts:detail' view_person.id %}" class="card-link">Detail Personnel:</a>
                                        <p>Status       : {{ view_person.status }}</p>
                                        <p>Nom          : {{ view_person.nom }}</p>
                                        <p>Prenom       : {{ view_person.prenom }}</p>
                                        <p>Telephone    : {{view_person.contact_1 }}</p>
                                        <p>Code         : {{ view_person.code_person }}</p>

                              <a href="{% url 'contacts:list' %}" class="card-link">Return to list</a>
                            <a href="{% url 'contacts:report_card' view_person.id %}" class="card-link">Generated PDF</a>
                          </div>

                 </div><br>
                        <div class="card justify-content-lg-center" style="width: 18rem; background: lightblue ">
                            <div class="card-body">
                                <h4>Situation Parcelle</h4>
                            </div>
                        </div>

        </div>

{% endblock %}