{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

 <div class="row">
    <div class="communeform">
        <h5 class="text-left offset-1"> Commune</h5><hr>
        <form action="{% url 'maps:commune' %}" method="post">
           {% csrf_token %}
                <div class="row offset-1">
                    {{ form | crispy }}
                </div>
            <div class="row offset-4">
            <div class="col-12 justify-content-center">
                     <input type="submit" value="Submit" class="btn btn-primary col-md-4">
                     <input type="reset" value="Reset" class="btn btn-danger col-md-4">
           </div>
        </div>
    </form>
    </div>
 </div>

<script>
        $(document).ready(() => {
        $('#Reset').click(function(event) {
            event.preventDefault();
            $('#communeform').clearForm();
        });
    });
</script>
{% endblock %} 