{#{% extends 'base.html' %}#}



{% block content %}
   <div class="card col-lg-12 ">
   <div class="card-title">
       <h4 class="justify-content-center">LISTE DES CLIENTS</h4>
    </div>
   <div class="card-body">
       <div class="table-responsive">

    <table id="bootstrapdatable" class="table table-responsive-md table-bordered" width="100%">
        <thead >

            <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Status</th>
                  <th>Genre</th>
                  <th>Contact</th>

            </tr>
      </thead>

      <tbody>
             {% for person in all %}
                     <tr>
                                <td>{{ person.id }}</td>
                                <td>{{ person.code_person }}</td>
                                <td>{{ person.prenom }}</td>
                                <td>{{ person.nom }}</td>
                                <td>{{ person.status }}</td>
                                <td>{{ person.genre }}</td>
                                <td>{{ person.contact_1 }}</td>

                     </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
   </div>
</div><br>


{% endblock %}
