{% load static %}

{% block content %}
        <div class="container">
          {% for view_person in person_detail.all %}

          {% endfor %}
          <h2>Carnet Agricole :</h2><hr>
                 <div class="card" style="width: 18rem;">
                          <div class="card-body">
{#                              <img class="card-img-top offset-3" src="/media/qr_codes/qr_code-COULIBALY.png" class="img-thumbnail" alt="...">#}
                              <img class="card-img-top offset-3" src="{{ view_person.qr_code.url }}" class="img-thumbnail" alt="...">
{#                                        <p>Qr code      : {{ view_person.qr_code.url }}</p>#}
                                        <p>Status       : {{ view_person.status }}</p>
                                        <p>Nom          : {{ view_person.nom }}</p>
                                        <p>Prenom       : {{ view_person.prenom }}</p>
                                        <p>Telephone    : {{view_person.contact_1 }}</p>
                                        <p>Identifiant  : {{ view_person.code_person }}</p>
{#                            <a href="{% url 'contacts:list' %}" class="card-link">Return to list</a>#}
{#                            <a href="{% url 'contacts:report_card' view_person.id %}" class="card-link">Generated PDF</a>#}
                          </div>
                 </div>

        </div>
{% endblock %}
