card{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;

}

footer{
    background-color: #4e555b;
}

map {
    margin: auto;
    padding-right: 600px;
    padding-top: auto;

}

/*body{*/
    /*background-color: gainsboro;*/
/*}*/