{% extends 'base.html' %}
{% load static %}

{% block content %}
    {#<-- TopNavbar -->#}

{#     {% include 'partials/_topnavbar.html' %}#}
{##}
    {#<-- Navbar -->#}
{##}
{#             {% include 'partials/_navbar.html' %}#}
{##}
    {#<-- SideBar -->#}
{#             {% include 'partials/_sidebar.html' %}#}
{##}
{##}
    {#<-- Content body -->#}
{#            {% include 'partials/_content_body.html' %}#}
{##}
{##}
    {#<-- Footer -->#}
{##}
{#             {% include 'partials/_footer.html' %}#}

 {% endblock %}

