{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="justify-content-center offset-5"> STATISTIQUES </h5><hr>
            <div class="row col-lg-12">
              <div class="col-sm-4">
                <div class="card" style="background: ghostwhite; height: 200px; width: 360px" >
                  <div class="card-body">
                    <h6 class="card-text text-center">EFFECTIF</h6><hr>
                     <p  class="text-center" href="#"> </p>
                      <p>client=Person.objects.count(status='Client')</p>
            {#         <p  class="text-center" href="#">{{ customer }} </p>#}
                      <h4 class="text-center" style="color: white">
                      </h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="card" style="background: ghostwhite ;  height: 200px; width: 360px">
                  <div class="card-body">
                    <h6 class="card-text text-center">MONTANT ACQUIS</h6><hr>
                     <p  class="text-center" href="#"> </p>
                      <p>com=Order.objects.count()</p>
                      <h4 class="text-center " style="color: white">
                      </h4>
                  </div>
                </div>
              </div>
                <div class="col-sm-4">
                    <div class="card" style="background: ghostwhite;  height: 200px; width: 360px">
                      <div class="card-body">
                        <h6 class="card-text text-center">CREDITS</h6><hr>
                          <p  class="text-center" href="#"> </p>
                          <p>mod=Product.objects.count()</p>
                          <h4 class="text-center " style="color: white"> </h4>
                      </div>
                    </div>
              </div>
            </div><hr>

            <div class="row col-lg-12 ">
              <div class="col-sm-4">
                <div class="card" style="background: ghostwhite;  height: 200px; width: 360px">
                  <div class="card-body">
                    <h6 class="card-text text-center">VOLUME D'EAU</h6><hr>
                     <p  class="text-center" href="#"> </p>
            {#         <p  class="text-center" href="#">{{ customer }} </p>#}
                      <h4 class="text-center" style="color: white;">
                      </h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="card" style="background: ghostwhite ;  height: 200px; width: 360px">
                  <div class="card-body">
                    <h6 class="card-text text-center">VENTE</h6><hr>
                     <p  class="text-center" href="#"> </p>
                      <p>vent=Payment.objects.count(status='TRUE')</p>
                      <h4 class="text-center " style="color: white">
                      </h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 ">
                    <div class="card" style="background: ghostwhite ; height: 200px; width: 360px">
                      <div class="card-body">
                        <h6 class="card-text text-center">ABONNEES</h6><hr>
                          <p  class="text-center" href="#"> </p>
                          <p>abon=User.objects.count()</p>
                          <h4 class="text-center " style="color: white "> </h4>
                      </div>
                    </div>
              </div>
      </div>
    </div>

    {#<-- TopNavbar -->#}
{#     {% include 'partials/_topnavbar.html' %}#}
{#    <-- Navbar -->#}
{#             {% include 'partials/_navbar.html' %}#}
{#    <-- SideBar -->#}
{#             {% include 'partials/_sidebar.html' %}#}
    {#<-- Content body -->#}
{#            {% include 'partials/_content_body.html' %}#}
    {#<-- Footer -->#}

{#             {% include 'partials/_footer.html' %}#}

 {% endblock %}

