{% extends 'base.html' %}

{% load static %}

{% block content %}
       <h3 class="text-center" >Login your account here</h3>
            <div class="col-md-6 offset-md-3">
{#            Alerts#}
{#             {% include 'partials/_alerts.html' %}#}
                <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                      <!-- Email input -->
                    <card class="border-bottom form-control-color">
{#                      <div class="form-outline mb-4">#}
{#                         <label class="form-label" for="form2Example1">Email address</label>#}
{#                        <input type="email" id="email" class="form-control" />#}
{#                      </div>#}
                        <div class="form-outline mb-4">
                                 <label class="form-label" for="form2username">Username</label>
                                <input type="text" id="text" class="form-control" />
                        </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                         <label class="form-label" for="form2Example2">Password</label>
                        <input type="password" id="password" class="form-control" />
                      </div>

                        <div class="col">
                          <!-- Simple link -->
                          <a href="#!">Forgot password?</a>
                        </div>
{#                      </div>#}

                      <!-- Submit button -->
                        <button type="submit" value="login" class="btn btn-primary btn-lg" > Login</button>

                    </card>
                </form>
            </div>

 {% endblock %}

