{#{% extends 'base.html' %}#}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <title>REGISTER</title>
             <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
             <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
    <style class="">
    .card{
        background-color: transparent;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
</style>

<body id="bg" style="background-image: url('{% static "img.JPG" %}');>

<section class="vh-100"><br><br>

      <div class="card col-md-4 offset-md-4">
          {% if messages %}
                        {% for message in messages %}
                            <div id='register' class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
{#                              <button type="button"  data-bs-dismiss="alert" aria-label="Close"></button>#}
                            </div>

                        {% endfor  %}
           {% endif  %}
          <p>
                <h4 class="text-center" style="color: white">Creer votre compte</h4>
          </p><hr>

          <div class="UserRegisterForm">
                        <div class="card-title">
                  <div class="card-body">
{#                   {% include 'partials/_alerts.html' %}#}

                      <form  method="POST" action="{% url 'accounts:register' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form|crispy }}

                             <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <input type="submit" value="register" class="btn btn-primary btn-lg" > Register</button>
                             </div>

                      </form>
              </div>
          </div>

          </div>
      </div>
   </section>
{#                <script src="{% static 'js/main.js' %}"></script>#}
                <script >
                    setTimeout(function () {
                      $('#alert').fadeOut('slow');
},                     3000);

                    var message_ele = document.getElementById("register");
                      setTimeout(function()
                      {message_ele.style.display = "none";}, 2000);
                </script>


</body>
{% endblock %}
