{% extends 'base.html' %}
{% load static %}
{#{% load leaflet_tags %}#}

{% block content %}
    <br/> <br/>
       <container>
       <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
       <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">

              <div class="row ">
              <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                  <div class="col">
                    <div class="card">
{#                      <img src="plateform.png" class="card-img-top" alt="Merci4">#}
                      <div class="card-body">
                        <h5 class="card-title">ZONE DE CASIER SAN</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
{#                      <img src="plateform.png" class="card-img-top" alt="Merci3">#}
                      <div class="card-body">
                        <h5 class="card-title">ZONE DE CASIER BLA</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
           <div>
{#                {% leaflet_js %}#}
{##}
{#                {% leaflet_css %}#}
           </div><br/>
{#              <div class= "row justify-content-center">#}
{#                 <div class="col-7">#}
{#                      <span><h4 class="text-center">CADASTRE RURAL DE L'OFFICE DU MOYEN BANI</h4></span> <br/>#}
{#                      {% leaflet_map "map"%}#}
{#                 </div>#}
               </div>

{#             </div>#}
          </container>
{# <script src="{% static 'bootstrap/js/index.js'%}"></script>#}
{# <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>#}

 <script>
    $( "p" ).click(function( event ) {
      alert("Your book is overdue.");// This is my case irrigation
    });

</script>

{% endblock %}



