<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commande</title>
  <script src="../js/jquery-1.8.3.min.js"></script>                            <!-- JQUERY HERE -->
  <script src="../js/script.js"></script>                            <!-- JAVASCRIPT HERE -->
  <link href="" rel="stylesheet">
</head>
<body>
 <fieldset>
     <legend> Formulaire de commande</legend>
   <form action="", method="post">
     <p>
         <label for="titulaire de commande">Titulaire de commande</label>
             <input type="text", name="titulaire commande" id="titulaire de commande"/><br><br/>
         <label for="produit">Produit</label>
             <input type="text", name="produit" id="produit"/>

         <label for="quantite"><br /><br />Quantite</label>
             <input type="text", name="quantite" id="quantite"/>

         <label for="rendez_de_vous"><br /><br />Rendez de vous</label>
             <input type="text", name="rendez_de_vous" id="rendez_de_vous"/>

         <label for="montant_total"><br /><br />Montant total</label>
             <input type="text", name="montant_total" id="montant_total"/>

         <label for="Avance"><br /><br />Avance</label>
             <input type="text", name="Avance" id="Avance"/>

         <label for="reliquat"><br /><br />Reliquat</label>
             <input type="text", name="reliquat" id="reliquat"/>

         <label for="remise"><br /><br />Remise</label>
             <input type="text", name="remise" id="remise"/>

         <label for="date"><br /><br />Date</label>
             <input type="date", name="date" id="date"/>
 </fieldset><br />
         <button>
             <input type="submit" value="submit"/>
         </button>
     </p>
   </form>

</body>
</html>