{% extends 'base.html' %}
{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}


{% block title %} CARNET ADRESSE {% endblock %}
{% block content %} <br/>
    <h3 class="text-center">FORMULAIRE D'ENREGISTREMENT DES EXPLOITANTS</h3><br/>
        <div>
{#            {% for contact in contacts %}#}
{#                   <div class="mt-9">#}
{#                           <form action="{% url 'adresses' %}" method="post">#}
{#                               {% csrf_token %}#}
{#                                     <table >{{ form.as_table }}</table><br />#}
{#                           </form>#}
 <div class="container">
     <div class="row row-cols-2">
    <form action="{% url 'adresses' %}" method="post">
                        <div class="wrapper row text-center" >
                         {% csrf_token %}
                            <!-- field status -->
                            <div class="col">
                                <select class="form-select" aria-label="status">
                                    <option selected>Status</option>
                                    <option value="personne">Personne</option>
                                    <option value="societe">Societe</option>
                                </select>
                            </div>

                            <!-- field sexe -->
                            <div class="col">
                                <select class="form-select" aria-label="sexe">
                                    <option selected>Sexe</option>
                                    <option value="homme">Homme</option>
                                    <option value="femme">Femme</option>
                                </select>
                            </div>
                            <!-- field nom -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputFirstName"></label>
                                          <input type="text" class="form-control" id="inputFirstName" placeholder="Nom">
                                      </div>
                                </div>

                            <!-- field prenom -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputLastName"></label>
                                          <input type="text" class="form-control" id="inputLastName" placeholder="Prenom">
                                      </div>
                               </div>

                            <!-- field matricule -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputMatr"></label>
                                          <input type="text" class="form-control" id="inputMatr" placeholder="Matricule">
                                      </div>
                               </div>

                            <!-- field contact -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="NumberPhone"></label>
                                          <input type="text" class="form-control" id="NumberPhone" placeholder="Telephone">
                                      </div>
                               </div>

                            <!-- field numero CIN -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputCarteIdentiteNationale"></label>
                                          <input type="text" class="form-control" id="inputCarteIdentiteNationale" placeholder="CIN">
                                      </div>
                               </div>

                            <!-- field NINA  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputNumeroIdentificationNationale"></label>
                                          <input type="text" class="form-control" id="inputNumeroIdentificationNationale" placeholder="Nina">
                                      </div>
                               </div>

                            <!-- field profession  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputProfession"></label>
                                          <input type="text" class="form-control" id="inputProfession" placeholder="Profession">
                                      </div>
                                </div>

                            <!-- field registre de commerce  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputRegistreCommerceIndustrieMali"></label>
                                          <input type="text" class="form-control" id="inputRegistreCommerceIndustrieMali" placeholder="RCIMM">
                                      </div>
                                </div>

                            <!-- field Numero d'identificaion Fiscal  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputNumeroIdentificationFiscal"></label>
                                          <input type="text" class="form-control" id="inputNumeroIdentificationFiscal" placeholder="Nif">
                                      </div>
                               </div>

                            <!-- field Siege Social  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputSiegeSocial"></label>
                                          <input type="text" class="form-control" id="inputSiegeSocial" placeholder="Siege Social">
                                      </div>
                                </div>

                            <!-- field Responsable  -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputResponsable"></label>
                                          <input type="text" class="form-control" id="inputResponsable" placeholder="Responsable">
                                      </div>
                                </div>

                            <!-- column email input -->
                               <div class="col">
                                      <div class="form-group">
                                          <label for="inputEmail4"></label>
                                          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                      </div>
                               </div>

                                <!-- field date -->
                                <div class="col">
                                      <div class="form-group">
                                          <label for="inputdate"></label>
                                          <input type="date" class="form-control" id="inputdate" placeholder="Date">
                                      </div>
                               </div>

                         </div><br /><br />

                            <!-- field Image Profil -->
                            <div class="col">
                                <div class="custom-file">
                                      <label class="custom-file-label" for="customFile">Profil Image</label>
                                      <input type="file" class="custom-file-input" id="customFile">
                                </div>
                            </div>

  </form>
</div>
</div>
{#{% endblock content %}#}


                       <div class="text-center border-right">
{#                            <button type="submit" class="btn btn-secondary col-sm-3 text-center" >Sauvegarder</button>#}
                           <button type="submit" class="btn btn-primary col-sm-3 text-center">Valider</button>
                        </div>
                   </div>
{#            {% endfor %}#}
        </div>
        <!-- column profil image -->
        <div class="wrapper cols-sm-3 text-center" >
        </div>
{% endblock %}

{##}



