<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Inscription</title>
        <!--<script src="jquery-1.8.3.min.js"></script>                     &lt;!&ndash; JQUERY HERE &ndash;&gt;&ndash;&gt;-->
            <!-- FILE SCRIPT JAVASCRIPT HERE -->
        <script src="../folder_css/bootstrap.css"></script>             <!-- BOOTSTRAP MIN.CSS HERE -->
        <link rel= "stylesheet" href="inscription.css"/>                <!-- FILE CSS HERE -->
</head>
<body>
     <div class="container navigation">

        <div class="row navigation">
            <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->

                   <div><a class="navbar-brand navbar"><strong>KALALISO COUTURE</strong></a>
                   </div>

                <!--<div class="navbar-collapse col-xs-push-6 col-lg-12">-->
                   <!---->

                    <!--<ul class="nav navbar-nav" class="col-lg-9">-->
                        <!--<li class="active"><a href="Home.html" title="Click here !"><span class="glyphicon glyphicon-home"></span> Home</a></li>-->
                        <!--<li class="active"><a href="Blog.html" title="Click here !"><span class="glyphicon glyphicon-blog"></span> Blog</a></li>-->
                        <!--<li><a href="Commande.html" title="Click here !"><span class="glyphicon glyphicon-commande"></span> Commande</a></li>-->
                        <!--<li><a href="Formation.html" title="Click here !"><span class="glyphicon glyphicon-formation"></span> Formation</a></li>-->
                        <!--<li><a href="Partenaires.html" title="Click here !"><span class="glyphicon glyphicon-Partenaires"></span> Partenaires</a></li>-->
                        <!--<li><a href="Contact.html" title="Click here !"><span class="glyphicon glyphicon-fontact"></span> Contact</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                     <!--<ol class="breadcrumb">-->
                        <!--<li><span class="glyphicon glyphicon-bookmark"></span><a href="Home.html" title="Home ici!">Home</a></li>-->
                        <!--<li><a href="Formation" title="Click here !"> Blog</a></li>-->
                     <!--</ol>-->
                 <!--</nav>-->
        </div> <!-- row navigation-->
    </div> <!-- container navigation-->
    <header>
        <div class="container header">
                <div class="row header">
                        <ul class="imagtop">
                            <marquee href="#"><img src="../dossier%20img/images24.png" alt="responsive" class="img-rounded"/></marquee>
                            <marquee href="#"><img src="../dossier%20img/images18.png" alt="responsive" class="img-rounded"/></marquee>
                            <marquee href="#"><img src="../dossier%20img/images16.png" alt="responsive" class="img-rounded"/></marquee>
                        </ul>
                </div> <!-- row header-->
            </div> <!-- container header-->
        <div>
            <figcaption class="text-default"><em>Avec kalaliso vous etes soudés ! </em></figcaption>
        </div>
    </header>
             <!--<div>-->
                 <!--<p class="face">Bienvenue dans le formulaire de commande de<em>Kalaliso.</em></p>-->
             <!--</div>-->
     <div>
         <form class="person" action="" method="GET">

                     <!--<label for="profil">Profil: </label><input  type="image" height="100" width="120" name="profil" id="profil" placeholder="image person">-->

                    <label for="nom">Nom: </label><input  type="text"  name="nom" id="nom" value="" placeholder="votre nom">

                     <label for="prenom">Prenom: </label><input  type="text"  name="prenom" id="prenom" value="" placeholder="votre prenom">

                     <label for="alias">Alias: </label><input  type="text"  name="alias" id="alias" value="" placeholder="votre alias ici!">

                     <p>Sex</p>
                     <select>
                             <option>Homme</option>
                             <option>Femme</option>
                             <option>Autres</option>
                     </select>

                     <p>Statut</p>
                         <select>
                             <option>Client</option>
                             <option>Ouvrier</option>
                             <option>Apprenti</option>
                             <option>Fournisseur</option>
                             <option>Company</option>
                     </select>

                     <p>Categorie</p>
                         <select>
                             <option>Grande</option>
                             <option>Moyenne</option>
                             <option>Petite</option>
                     </select>

                     <label for="contact1">Contact1: </label><input  type="text"  name="contact1" id="contact1" value="" placeholder="numero de contact1">

                     <label for="contact2">Contact2: </label><input  type="text"  name="contact2" id="contact2" value="" placeholder="numero de contact2">

                     <label for="email">Email: </label><input  type="text"  name="email" id="email" value="" placeholder="votre addresse email">

                     <!--<label for="domicile">Domicile: </label><input  type="text"  name="domicile" id="domicile" value="Lafiabougou" placeholder="votre domicile">-->

                     <!--<label for="profession">Profession: </label><input  type="text"  name="profession" id="profession" value="" placeholder="quelle est votre profession">-->

                     <!--<label for="date_naissance">Date naissance: </label><input  type="text"  name="date_naissance" id="date_naissance" value="" placeholder="votre date de naissance">-->

                     <!--<label for="nationalite">Nationalite: </label><input  type="text"  name="nationalite" id="nationalite" value="Malienne" placeholder="votre nationalite">-->

                     <!--<label for="tutuelle">Tutuelle: </label><input  type="text"  name="tutuelle" id="tutuelle" value="" placeholder="Qui est votre tutuelle">-->

                     <!--<label for="telephone_fix">Telephone fixe: </label><input  type="text"  name="telephone_fix" id="telephone_fix" value="" placeholder="numero de telephone fixe">-->

                     <!--<label for="numero_reference">Numero reference: </label><input  type="text"  name="numero_reference" id="numero_reference" value="" placeholder="votre numero de reference">-->

                     <!--<label for="nina">Nina: </label><input  type="text"  name="nina" id="nina" value="" placeholder="votre nina">-->

                     <!--<label for="created_at">Created at: </label><input  type="text"  name="created_at" id="created_at" value="" placeholder="date de creation">-->
                  <div class="container">
                    <button class="btn btn-primary" id="button">Enregistrer</button>
                  </div>
         </form>
     </div>

        <script src="../js/script.js"></script>
</body>

<footer>
             <div  class="container footer">
                <div class= "row footer">
                  <div id="imagetop">
                     <ul class="list-inline">
                         <li href="#"><img src="../dossier%20img/imag24.png" alt="responsive" class="img-circle"></li>
                         <li href="#"><img src="../dossier%20img/imag16.png" alt="responsive" class="img-circle"><li>
                         <li href="#"><img src="../dossier%20img/imag18.png" alt="responsive" class="img-circle"></li>
                     </ul>
                </div>
                <!--<div class="text-right">-->
                        <!--<ul class="list-inline">-->
                            <!--<li><a href="Commande.html" title="Cliquez ici!"><span class="glyphicon glyphicon-certificat"></span>Paiement en ligne</a></li>-->
                            <!--<li><a href="Conditions général.html" title="Cliquez ici!"><span class="glyphicon glyphicon-commande"></span>Conditions générales</a></li>-->
                            <!--<li><a href="Mentions légales.html"><span class="glyphicon glyphicon-formation"></span>Mentions légales</a></li>-->
                        <!--</ul><hr/>-->
                    <!--</div>-->
                <div Mes Tweets class="tweets">
                        <ul>
                                <h2 class="text-black"><strong>Mes Tweets</strong></h2>
                                <li>Informer les acteurs</li>
                                <li>Sensibiliser les acteurs artisants</li>
                                <li>Contribuer à l'évolution vestimentaire</li>
                        </ul>
                </div>
                <div Mes Options class="options">
                        <ul>
                            <h2 class="text-black"><strong>Mes Options</strong></h2>
                            <li>Accès gratuit à la qualité</li>
                            <li>Faciliter les innovations</li>
                            <li>Partager les compétences</li>
                        </ul>
                </div>
                <div Mes Produits class="produits">
                        <ul>
                            <h2 class="text-black"><strong>Mes Produits</strong></h2>
                            <li>Bazin riche</li>
                            <li>Tissu classique et leger</li>
                            <li>Wax Hollandais</li>
                        </ul>
                </div>
                  <div class="gis" class="text-black">
                    <a href="https://www.linkedin.com/in/imidsac"><em>Made by GisConsulting4</em></a>
                </div>
        </div> <!-- row footer -->
    </div>
</footer>
</html>