{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %} CARNET PARCELLES {% endblock %}
{% block content %} <br/>
    <h3 class="text-center">
        <span>SITUATION DES PARCELLES </span></h3><br/>
        <div>
                   <div class="mt-9">
                           <form action="{% url 'parcel' %}" method="post">
                               {% csrf_token %}
                                    <div class="row">
                                            <div class="col-sm-6">

                                            <table>{{ form.as_p }}</table><br />
                                            </div>
                                     </div>
                               <div>
                                   <button type="submit" class="btn btn-primary col-sm-3 text-center">Valider</button>
                               </div>

                           </form>
                   </div>
        </div>
{% endblock %}