<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

  <title>Person</title>
  <script src="../js/jquery-1.8.3.min.js"></script>                  <!-- JQUERY HERE -->
  <script src="../js/script.js"></script>                            <!-- JAVASCRIPT HERE -->
  <link href="" rel="stylesheet">
  <fieldset>
      <legend>Informations essentielles</legend>
<form >
      <p>
          Status
          <select name="status" id="status">
              <option value="client">Client</option>
              <option value="ouvrier">Ouvrier</option>
              <option value="apprenti">Apprenti</option>
              <option value="company">Company</option>
          </select><br /><br />
          <label for="nom">Nom</label>
          <input type="text" name="nom" id="nom"><br /><br />
          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" id="prenom"><br /><br />
          <label for="alias">Alias</label>
          <input type="text" name="alias" id="alias"><br /><br />
          <label for="contact_1">Contact 1</label>
          <input type="text" name="contact 1" id="contact_1"><br /><br />
          <label for="contact_2">Contact 2</label>
          <input type="text" name="contact 2" id="contact_2"><br /><br />
          Sexe
          <select name="sexe" id="sexe">
              <option value="homme">Homme</option>
              <option value="femme">Femme</option>
              <option value="autres">Autres</option>
          </select><br /><br />
          Categorie
          <select name="categorie" id="categorie">
              <option value="grande">Grande</option>
              <option value="Moyenne">Moyenne</option>
              <option value="petite">Petite</option>
          </select><br />
  </fieldset><br /><br />
  <fieldset>
      <legend>Informations secondaires</legend><br /><br />
          <label for="domicile">Domicile</label>
          <input type="text" name="domicile" id="domicile"><br /><br />
          <label for="profession">Profession</label>
          <input type="text" name="profession" id="profession"><br /><br />
          <label for="date">Date de Naissance</label>
          <input type="date" name="date" id="date"><br /><br />
          <label for="email">Email</label>
          <input type="email" name="email" id="email"><br /><br />
          <label for="nationalite">Nationalité</label>
          <input type="text" name="nationalite" id="nationalite"><br /><br />
          <label for="tutuelle">Email</label>
          <input type="text" name="tutuelle" id="tutuelle"><br /><br />
</fieldset><br/><br/>
      <fieldset>
             <legend>Informations facultative</legend>
              <label for="telephone_fix">Telephone Fixe</label>
              <input type="text" name="tutuelle" id="telephone_fix"><br /><br />
              <label for="numero de reference">Numero de reference</label>
              <input type="text" name="numero de reference" id="numero de reference"><br /><br />
              <label for="nina">Nina</label>
              <input type="text" name="nina" id="nina"><br /><br />
              <label for="created_at">Date de creation</label>
              <input type="date" name="date" id="created_at"><br /><br />
      </fieldset><br />
  <button>
       <input type="submit" value="submit"/>
  </button>

  </p>
</form>


</body>
</html>