<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produit</title>
  <script src="../js/jquery-1.8.3.min.js"></script>                            <!-- JQUERY HERE -->
  <script src="../js/script.js"></script>                            <!-- JAVASCRIPT HERE -->
  <link href="" rel="stylesheet">
</head>
<body>
     <fieldset>
         <legend>Formulaires des produits</legend>
         <form>
             <p>
             Couture

          <select name="produit" id="produit">
              <option value="broderie">Broderie</option>
              <option value="couture simple">Couture simple</option>
              <option value="couture a main">Couture à main</option>
              <option value="reparation">Reparation</option>
          </select><br /><br />

       Modele
         <select name="modele" id="modele">
              <option value="boubou">Boubou</option>
              <option value="Grand Boubou">Grand Boubou</option>
              <option value="Chemise Complet">Chemise Complet</option>
              <option value="Chemise Manche long">Chemise Manche long</option>
              <option value="Chemise Manche Court">Chemise Manche Court</option>
              <option value="Pagne Jupe">Pagne Jupe</option>
              <option value="Pagne Complet">Pagne Complet</option>
              <option value="Pagne Maniere">Pagne Maniere</option>
              <option value="Patanlon">Patanlon</option>
              <option value="Tenu scolaire">Tenu Scolaire</option>
              <option value="Tenu securite">Tenu Securite</option>
              <option value="Autres">Autres</option>
          </select><br /><br />
        Tissu
          <select name="modele" id="modele">
              <option value="BAZIN GETZNER">BAZIN GETZNER</option>
              <option value="BAZIN RICHE">BAZIN RICHE</option>
              <option value="BAZIN MOYEN">BAZIN MOYEN</option>
              <option value="WAX">WAX</option>
              <option value="TISSU">TISSU</option>
              <option value="LEGER">LEGER</option>
              <option value="BRODE">BRODE</option>
              <option value="PERCALE">PERCALE</option>
              <option value="VOILE">VOILE</option>
              <option value="Autres">Autres</option>
          </select><br /><br />
      Couloir
         <select name="couloir" id="couloir">
              <option value="BLANCHE">BLANCHE</option>
              <option value="ROUGE SANG">ROUGE SANG</option>
              <option value="BLEU">BLEU</option>
              <option value="ORANGE">ORANGE</option>
              <option value="ROSE">ROSE</option>
              <option value="VERT">VERT</option>
              <option value="GRIS">GRIS</option>
              <option value="GRIS CLAIR">PERCALE</option>
              <option value="VOILET">VOILET</option>
              <option value="MARON">MARON</option>
              <option value="MARON CLAIR">MARON CLAIR</option>
              <option value="TURQUOISE">TURQUOISE</option>
              <option value="JAUNE">JAUNE</option>
              <option value="JAUNE COUSIN">COUSIN</option>
              <option value="NOIR">NOIR</option>
              <option value="BAGA">BAGA</option>
              <option value="BAGA CLAIR">BAGA CLAIR</option>
              <option value="DEUX TONS">DEUX TONS</option>
              <option value="MULTICOLOR">MULTICOLOR</option>
         </select><br /><br />
              <label for="metrage">Metrage</label>
              <input type="text" name="metrage" id="metrage"><br /><br />
              <label for="prix unitaire">Prix unitaire</label>
              <input type="text" name="prix unitaire" id="prix unitaire"><br /><br />
              <label for="commentaire">Commentaire</label>
              <input type="text" name="commentaire" id="commentaire"><br /><br />
              <label for="date">Date de creation</label>
              <input type="date" name="date" id="date"><br />
             </p>
         </form>
     </fieldset><br /><br />

     <button>
            <input type="submit" value="submit"/>
     </button>
</body>
</html>