<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vente</title>
  <script src="../js/jquery-1.8.3.min.js"></script>                  <!-- JQUERY HERE -->
  <script src="../js/script.js"></script>                            <!-- JAVASCRIPT HERE -->
  <link href="" rel="stylesheet">
</head>
<body>
     <fieldset>
         <legend>Formulaire de vente</legend>
         <form>
             <p>
                <label for="client">Client</label>
                <input type="text" name="client" id="client"><br /><br />
                 <label for="type modele">Type Modele</label>
                <input type="text" name="client" id="Type Modele"><br /><br />
                 <label for="vente">Vente</label>
                <input type="text" name="client" id="vente"><br /><br />
                 <label for="montant">Montant</label>
                <input type="text" name="montant" id="montant"><br /><br />
                 Vous avez etes satisfait ?
                 <label for="satisfaction">OUI</label>
                 <input type="radio" name="oui" id="satisfaction">
                 <label for="satisfact">NON</label>
                 <input type="radio" name="non" id="satisfact"><br /><br />
                 <label for="commentaire">Commentaire</label>
                <input type="text" name="commentaire" id="commentaire"><br /><br />
                 <label for="date">Date</label>
                <input type="date" name="date de vente" id="date"><br />
             </p>
         </form>
     </fieldset><br /><br />
     <button>
         <input type="submit" value="submit"/>
     </button>
</body>
</html>