{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
        <div class="card">
            <div class="mt-5">
                    <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                       {{form|crispy}}
                    <button class="btn btn-success btn-lg">Upload</button>
                    </form>
            </div><hr>
        {% for x in all %}
            <h3 class="text-center mt-2 mb-2">{{x.title}}</h3>
            <video class="embed-responsive embed-responsive-16by9" controls="controls" >
            <source src="{{x.video.url}}" type="video/mp4" /></video>
        {% endfor %}
        </div>
{% endblock %}
{#</body>#}
{#</html>#}