{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row offset-md-0 center">
  <div class="col-sm-6">
    <div class="card" style="background: white ">
      <div class="card-body">
        <h5 class="card-text ">Information Personnelle </h5><hr>
{#                  <p> Nom et Prenom : </p>#}
{#                  <p>Code personnel : </p>#}
{#                  <p>Telephone      : </p>#}
{#                  <p>Category       : </p>#}
{#                  <p>Status         : </p>#}
{#                  <p>Genre          :</p>#}

          {% for person in list_person.all %}
{#                  <h4 class="text-center" style="color: white"></h4>#}
                  <p> Nom et Prénom     : {{ person.nom }} {{ person.prenom }} </p>
                  <p> Code Identifiant  : {{ person.code_person }} </p>
                  <p> Téléphone         : {{ person.contact_1 }} </p>
                  <p> Category          : {{ person.category }} </p>
                  <p> Status            : {{ person.status }} </p>
                  <p> Genre             :{{ person.genre }} </p>
          {% endfor %}

{#          <p>#}
{#              <a href="{% url 'list' %}" class="btn btn-primary my-2">Back to list</a>#}
{#          </p>#}
      </div>
     <div>
{#        <a href="{% url 'detail_person' person_id %}" class="btn btn-primary my-2">Generated pdf</a>#}
      </div>

    </div>
  </div>
</div>
{% endblock %}