{% extends 'base.html' %}
{% load static %}
{% block content %}

         {% for person in list_person.all %}

       <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Detail Personnel:</h5>
                        <p>Status : {{ person.status }}</p>
                        <p>Nom    : {{ person.nom }}</p>
                        <p>Prenom : {{ person.prenom }}</p>
                        <p>Tel    : {{ person.contact_1 }}</p>
                        <p>Code   : {{ person.code_person }}</p>
              <a href="{% url 'list'  %}" class="card-link">Return to list</a>
            <a href="#" class="card-link">Generated PDF</a>
          </div>
       </div>
     {% endfor %}

{% endblock %}
