{% extends 'base_kalaliso.html' %}
{% block title %} Upload {% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
          <div class="album py-5 bg-light">
              <a href="{% url 'upload' %}" class="btn btn-primary"> Upload Image</a><br>
<!--            <div class="container">-->
                <div class="row">
                     <div class="col-md-4">
                          <form  method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                                {{ form.as_p }}
                               <button type="submit" class="btn btn-primary"> Submit</button>
                           </form>
                      </div>
                 </div>
           </div>
{% endblock %}