{% extends 'base_kalaliso.html' %}
{% block title %} Upload {% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
     <a href="{% url 'upload' %}" class="btn btn-primary"> Upload Image</a><br>
          <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                   {% for contacts_image in img_obj %}
                                 <div class="col-md-4">

                                  <p >{% contacts_image.title %}</p>
                                  <p >{% contacts_image.slug %}</p>
                                  <p >{% contacts_image.tags %}</p>
                                  <p>{% contacts_image.image %}</p>
                                  <p>{% contacts_image.type %}</p>
                                  <p>{% contacts_image.category %}</p>
                                  <p >{% contacts_image.genre %}</p>

                                <div class="card mb-4 shadow-sm">
                                        <img class="card-img-top" src="{{ image.url }}" alt="{{ contacts_image.title }}" width="400" height="400">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                 </div>
                                <small class="text-muted">9 mins</small>
                             </div>
                   {% endfor %}
                </div>
            </div>
           </div>
{% endblock %}