{% extends 'base_kalaliso.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}


    <div class="row">
    <div>
{#    <div class="col-sm-6 offset-5">#}
        <h3 class="text-center"> MESURE CLIENT</h3>
        <form action="{% url 'mesure' %}" method="post">
        {% csrf_token %}
               {{ form.coude|as_crispy_field }}
               {{ form.epaule|as_crispy_field }}
               {{ form.manche|as_crispy_field }}
               {{ form.tour_manche|as_crispy_field }}
               {{ form.poitrine|as_crispy_field }}
               {{ form.longueur_boubou|as_crispy_field }}
               {{ form.longueur_patanlon|as_crispy_field }}
               {{ form.ceinture|as_crispy_field }}
               {{ form.patte|as_crispy_field }}
            <br />
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    </div>

 </div>
{#    <script type="text/javascript" src="{% staticfiles '' %}"></script>#}

{% endblock %}