{% extends 'base_kalaliso.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<fieldset>
     <br />
    <div class="row">
    <div>
        <h3 class="text-left offset-1"> MESURE CLIENT</h3>
        <form action="{% url 'mesure' %}" method="post">
        {% csrf_token %}
        <div class="row offset-1">
            <div class="form-group col-sm-4 mb-0">
                {{ form.person_mesure|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                {{ form.coude|as_crispy_field }}
            </div>
            <div class=" form-group col-sm-4  mb-0">
                {{ form.epaule|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                {{ form.manche|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                 {{ form.tour_manche|as_crispy_field }}
            </div>
            <div class=" form-group col-sm-4  mb-0">
                {{ form.poitrine|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                {{ form.longueur_boubou|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                 {{ form.longueur_patanlon|as_crispy_field }}
            </div>
            <div class=" form-group col-sm-4  mb-0">
               {{ form.ceinture|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4  mb-0">
                {{ form.patte|as_crispy_field }}
            </div>
        </div>

       <div class="row offset-4">
            <div class="col-12 justify-content-center">
                     <input type="submit" value="Submit" class="btn btn-primary col-md-4">
                     <input type="submit" value="Reset" class="btn btn-danger col-md-4">
           </div>

        </div>
    </form>
    </div>

 </div>
</fieldset>
{#    <script type="text/javascript" src="{% staticfiles '' %}"></script>#}

{% endblock %}