{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h5 class="text-left offset-1">BORD DE COMMANDE</h5><hr>
    <div class="row">
              <div class="orderform">
                 <form action="{% url 'order' %}" method="post">
                     {% csrf_token %}
                        <div class="orderform">
                          <div class="col-md-4 offset-md-1">
                            {{ form|crispy }}
                          </div>
                        </div><br />
                             <div class="row offset-4">
                                <div class="col-12 justify-content-center">
                                    <button type="submit" class="btn btn-primary col-md-4"> Save</button>
                                    <button type="reset" class="btn btn-danger col-md-4">Cancel</button>
                               </div>
                           </div>
            </form>
      </div>
    </div>

<script>
    $(document).ready(() => {
        $('#Reset').click(function(event) {
            event.preventDefault();
            $('#orderform').clearForm();
        });
    });
</script>

{% endblock %}



