{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h4 class="text-center">BORD DE COMMANDE</h4>
<!--  <div class="row">-->
      <div>
                 <form action="{% url 'order' %}" method="post">
                     {% csrf_token %}
                        <div class="">
                        <div class="col-lg-4 mb-0 offset-md-1">
                            {{ form|crispy }}
                        </div>
                      </div>
<br />
                <div class="row offset-4">
                    <div class="col-12 justify-content-center">
                        <button type="submit" class="btn btn-primary col-md-4"> Save</button>
                        <button type="submit" class="btn btn-danger col-md-4">Cancel</button>
                   </div>
                </div>
            </form>
      </div>
<!--  </div>-->
{% endblock %}
