{% extends 'base_kalaliso.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2 class="text-center">BORD DE COMMANDE</h2>
    <form action="{% url 'order' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">

            <div class="form-group col-sm-4 mb-0">
                {{ form.reception|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 mb-0">
                {{ form.rendez_vous|as_crispy_field }}
            </div>
        </div><br />
        <div class="row offset-4">
            <div class="col-12 justify-content-center">
                     <input type="submit" value="Submit" class="btn btn-primary col-md-4">
                     <input type="submit" value="cancel" class="btn btn-danger col-md-4">
           </div>

        </div>
    </form>
{#    <script type="text/javascript" src="{% staticfiles '' %}"></script>#}

{% endblock %}
