{% extends 'base_kalaliso.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <h2 class="text-center offset-5">REGISTER CLIENT</h2>
    <form action="{% url 'person' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-xl-6 offset-5">

               {{ form.status|as_crispy_field }}
               {{ form.sex|as_crispy_field }}
               {{ form.category|as_crispy_field }}
               {{ form.category|as_crispy_field }}
               {{ form.nom|as_crispy_field }}
               {{ form.prenom|as_crispy_field }}
               {{ form.contact_1|as_crispy_field }}
            <br />
         </div>
        </div>
        <div class="row">
            <div class="col-sm-3 offset-5">
                 <input type="submit" value="Submit" class="btn btn-primary ">
                 <input type="submit" value="cancel" class="btn btn-danger ">
            </div>

        </div>

    </form>
{#    <script type="text/javascript" src="{% staticfiles '' %}"></script>#}

{% endblock %}