{% extends 'base.html' %}
{% block title %} Liste des clients {% endblock %}

{% block content %}
 <div class="wy-text-left offset-1">
    <h5>LISTE DES CLIENTS</h5>
</div>
    <div class="table-responsive offset-1">
    <table id="bootstrapdatable" class="table table-striped table-bordered" width="100%">
        <thead><br/>
            <tr>
                  <th>Code person</th>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Status</th>
                  <th>Contact</th>
                  <th>Genre</th>
                  <th>Detail</th>
                  <th>Edit</th>
                  <th>Delete</th>
            </tr>
      </thead>

      <tbody>
             {% for person in list_person.all %}
                     <tr>
                                <a href="{% url 'list'  %}"></a>
                                <td>{{ person.code_person }}</td>
                                <td>{{ person.prenom }}</td>
                                <td>{{ person.nom }}</td>
                                <td>{{ person.status }}</td>
                                <td>{{ person.contact_1 }}</td>
                                <td>{{ person.genre }}</td>

                                <td> <p data-placement="top" data-toggle="tooltip"
                                 title="Detail"><a href="#"
                                 class="btn btn-primary btn-xs" data-title="Detail"
                                 data-toggle="modal" data-target="Detail">
                                 <span class="glyphicon glyphicon">
                                 </span></a>Detail</p></td>

                                <td> <p data-placement="top" data-toggle="tooltip"
                                 title="Edit"><a href="/edit/{{ detail_order.id }}"
                                 class="btn btn-primary btn-xs" data-title="Edit"
                                 data-toggle="modal" data-target="Edit">
                                 <span class="glyphicon glyphicon">
                                 </span></a>Edit</p></td>

                                 <td> <p data-placement="top" data-toggle="tooltip"
                                 title="Delete"><a href="/delete/{{ detail_order.id }}"
                                 class="btn btn-danger btn-xs" data-title="Deletete"
                                 data-toggle="modal" data-target="Delete">
                                 <span class="glyphicon glyphicon">
                                 </span></a>Delete</p>
                                 </td>

                     </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}