{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 class="text-center"> Number Models </h1><hr>

        {{ product.count }}

<!--             {% for product in products.count %}-->

<!--&lt;!&ndash;                      <a href="{% url 'product_detail' product.id  %}">&ndash;&gt;-->
<!--&lt;!&ndash;                           <img class="card-img-top" src="{{ product.photo.url }}" height="200">&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->


<!--          {% endfor %}-->



{% endblock  %}