{% extends 'base_kalaliso.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <h2 class="text-center">VIEWS PRODUCTS</h2>
    <form action="{% url 'product' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table>
               {{ form|crispy }}
            </table><br />
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{#    <script type="text/javascript" src="{% staticfiles '' %}"></script>#}

{% endblock %}