{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="row">
   <div class="col-md-4">
       <input type="search" class="form-control form-control-dark" placeholder="Model..." aria-label="Search">
   </div>
    <div class="col-md-4">
       <input type="search" class="form-control form-control-dark" placeholder="Category..." aria-label="Search">
   </div>
    <div class="col-md-4">
       <input type="search" class="form-control form-control-dark" placeholder="Genre..." aria-label="Search">
   </div>
 </div>

<h1 class="text-center"> All Albums </h1><hr> <br />

     <div class="row">
             {% for product in products.all %}
                  <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <a href="{% url 'product_detail' product.id  %}">
                           <img class="card-img-top" src="{{ product.photo.url }}" height="200">
                      </a>
                      <div class="card-body">
                     <p>Model: {{ product.name }} </p>
                     <p>Price: {{ product.price }} Fcfa</p>
    <!--                  {{ product.code_product }}-->
    <!--                  {{ product.description }}-->
    <!--                  {{ product.create_at }}-->
                      </div>
                  </div>
              </div>

          {% endfor %}
     </div>

<div class="offset-md-4">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">  </span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div>

{% endblock  %}