{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
     <div class="row">
        <h1 class="text-center">Profile Custom</h1><br><br>
{#        <a {% url 'profile' %} class="btn btn-primary">View profile</a>#}
          {% for person in list_person  %}
              <div class="col-md-4">
              <div class="card" style="width: 18rem;>
                <img class="card-img-top" src="..." alt="Card image cap">
                  <img src="/media/image/img1.jpeg">
                  <div class="card-body">
                      <h5 class="card-title text-center"><small>Carnet d'Adresse</small></h5><hr>
                       <dl>
                            <p >Code : {{ person.code_person }}</p>
                            <p >Status : {{ person.status }}</p>
                            <p >Nom: {{ person.nom }}</p>
                            <p >Prénom: {{ person.prenom }}</p>
                            <p >Prénom: {{ person.type_tailleur }}</p>
                            <p>Genre: {{ person.genre }}</p>
                            <p>Téléphone: {{ person.contact_1 }} </p>
                       </dl>
                  </div>
            <a href="{% url 'list' %}" class="card-link">Return in list</a>
            <a href="#" class="card-link">Create PDF</a>
          </div>
    </div>
          {% endfor %}
{% endblock content %}




