{% extends 'base_kalaliso.html' %}
<!--{% block title %} Profil {% endblock %}-->

{% block content %}

<fieldset>
    <legend >
        <h4 style="color: darkred" class="fw-bold offset-md-1">
            Profil
        </h4>
    </legend>
    <div >
        <h6 class="offset-md-1">
            Address to customer:
            <div>
            <ul class="border-bottom">
                <ol>
                    Nom : .......
                </ol>
                 <ol>
                    Prenom : .......
                </ol>
                 <ol>
                    Tel : .......
                </ol>
            </ul>
     </div>

        </h6>
    </div>
</fieldset>


{% endblock content %}
