{#{% extends 'base.html' %}#}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
from geo.Geoserver import Geoserver

# Initialize the library
geo = Geoserver('http://127.0.0.1:8080/geoserver', username='admin', password='geoserver')

<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <title>LOGIN</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

{% block content %}

<section class="vh-100" style="background-color: #eee;"><br><br><br>




      <div class="card col-md-4 offset-md-4 " >
        <div class="card-title">
          <div class="card-body">


               <p>
                  <h5 class="text-center">
                  {% if messages %}
                        {% for message in messages %}
                            <div id='login' class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
{#                              <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>#}
                            </div>

                        {% endfor  %}
                    {% endif  %}

                 </h5>
               </p>
               <p>
                 <h5 class="text-center" >Connectez-vous ici !</h5><hr>
               </p>

{#            Alerts#}
{#             {% include 'partials/_alerts.html' %}#}
                <form method="POST" action="{% url 'accounts:connect' %}">
                  <div>
                    {% csrf_token %}
                        {{ form | crispy }}
{#                        <card class="border-bottom form-control-color">#}
{#                            <div class="form-outline mb-4">#}
{#                                    <input type="email" name="email" id="email" class="form-control" placeholder="email"/>#}
{#                            </div>#}
{#                            <div class="form-outline mb-4">#}
{#                                    <input type="text" id="text" name="username" class="form-control" placeholder="username"/>#}
{#                            </div>#}
{#                          <!-- Password input -->#}
{#                          <div class="form-outline mb-4">#}
{#                            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe"/>#}
{#                          </div>#}
{#                          <div class="col text-center">#}
                              <!-- Simple link -->
{#                              <a href="#!" class="btn btn-danger " >Forgot password ?</a>#}
                               <button type="submit"  value="submit" class="btn btn-primary " >Login</button>
                                <a href="{% url 'accounts:register' %}" class="btn btn-info"> Nouveau compte</a>

                        </card>
                  </div>
                </form>

{#          <form  method="POST" action="{% url 'accounts:connect' %}" enctype="multipart/form-data">#}
{#                          {% csrf_token %}#}
{#                          {{ form|crispy }}#}
{##}
{#                             <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">#}
{#                                <button type="submit" value="login" class="btn btn-primary btn-lg" > LOGIN</button>#}
{#                             </div>#}
{#          </form>#}

            </div>
         </div>
       </div>
    </div>
    </section>
               <script >
                   var message_ele = document.getElementById("login");
                      setTimeout(function()
                      {message_ele.style.display = "None";}, 2000);
               </script>


{% endblock %}

