{% extends 'base.html' %}

{% block content %}


    <style>
      {#.bd-placeholder-img {#}
      {#  font-size: 1.125rem;#}
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

      }
    </style>


    <!-- Custom styles for this template -->
  </head>
  <body>
{#  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#  <div class="container-fluid">#}
{#    <a class="navbar-brand" href="#">KALALISO APP</a>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#      <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="#">Link</a>#}
{#        </li>#}
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#            Dropdown#}
{#          </a>#}
{#          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#        </li>#}
{#      </ul>#}
{#      <div class="btn-toolbar mb-2 mb-md-0">#}
{#          <div class="btn-group me-2">#}
{#                    <a class="btn btn-sm btn-outline-secondary " href="{% url 'accounts:register' %}">Register</a>#}
{#                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:login' %}">Sign in</a>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}


{#<sidebar>#}
{##}
{#          <div class="container-fluid">#}
{#    <div class="row flex-nowrap">#}
{#        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">#}
{#            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">#}
{#                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">#}
{#                    <span class="fs-5 d-none d-sm-inline">Dashboard</span>#}
{#                </a>#}
{#                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">#}
{#                    <li class="nav-item">#}
{#                        <a href="#" class="nav-link align-middle px-0">#}
{#                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Ajouter une personne</span> </a>#}
{#                        <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">#}
{#                            <li class="w-100">#}
{#                                <a href="{% url 'contacts:person' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Ajouter un client</span> </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="{% url 'contacts:list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Liste des clients</span> </a>#}
{#                            </li>#}
{#                        </ul>#}
{##}
{#                    <li>#}
{#                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Ajouter une mesure</span> </a>#}
{#                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">#}
{#                            <li class="w-100">#}
{#                                <a href="{% url 'kalaliso:mesure' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Ajouter mesure</span> </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="{% url 'kalaliso:list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Tableau des mesures</span></a>#}
{#                            </li>#}
{#                        </ul>#}
{##}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">#}
{#                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>#}
{#                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">#}
{#                            <li class="w-100">#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">#}
{#                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>#}
{#                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">#}
{#                            <li class="w-100">#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{##}
{##}
{#                </ul>#}
{#                <hr>#}
{#                <div class="dropdown pb-4">#}
{#                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">#}
{#                        <span class="d-none d-sm-inline mx-1">fulani</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">#}
{#                        <li><a class="dropdown-item" href="#">New project...</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Settings</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Sign out</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col py-3">#}
{#            Bienvenu chez kalaliso !#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#</sidebar>#}





{#    <footer class="footer">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="footer-col">#}
{#          <h4>company</h4>#}
{#          <ul>#}
{#            <li><a href="#">>> about us</a></li>#}
{#            <li><a href="#">>> our services</a></li>#}
{#            <li><a href="#">>> privacy policy</a></li>#}
{#            <li><a href="#">>> Our Team</a></li>#}
{#          </ul>#}
{#        </div>#}
{#        <div class="footer-col">#}
{#          <h4>Get Help</h4>#}
{#          <ul>#}
{#            <li><a href="#">>> FAQ</a></li>#}
{#            <li><a href="#">>> Order Cancelation</a></li>#}
{#            <li><a href="#">>> Order status</a></li>#}
{#            <li><a href="#">>> Payment options</a></li>#}
{#          </ul>#}
{#        </div>#}
{#        <div class="footer-col">#}
{#          <h4>Services</h4>#}
{#          <ul>#}
{#            <li><a href="#">>> SEO</a></li>#}
{#            <li><a href="#">>> Custom Website</a></li>#}
{#            <li><a href="#">>> WordPress Website</a></li>#}
{#            <li><a href="#">>> Digital Marketing</a></li>#}
{#          </ul>#}
{#        </div>#}
{#        <div class="footer-col">#}
{#          <h4>follow us</h4>#}
{#          <div class="social-links">#}
{#            <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#            <a href="#"><i class="fab fa-twitter"></i></a>#}
{#            <a href="#"><i class="fab fa-instagram"></i></a>#}
{#            <a href="#"><i class="fab fa-linkedin-in"></i></a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </footer>#}
{#  <div class="copyright-footer">#}
{#    <p>&copy; <a href="#">yoursite.com</a> 2023, All Right Reserved.</p>#}
{#  </div>#}

  </body>

{% endblock %}