<!DOCTYPE html>
{% load static %}
<body lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>APP KALALISO - {% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
    <style>
        h5{
            color: red;
            margin-top: auto;

        }
        body{
            background-color: beige;
        }
    </style>
    </head>

 <header>
       <div>
           <div>
               <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-info">
                  <a class="navbar-brand">KALALISO</a>
                  <button class="navbar-toggler" type="button" data-toggler= "collapse" data-targer="navbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbar">
                      <ul class="navbar-nav ml-lg-4">
                          <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'homepage' %}">Homepage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'person' %}">CLIENT</a>
                            </li>
                          <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'product' %}">PRODUCT</a>
                            </li>
                           <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'mesure' %}">MESURE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'order' %}">COMMANDE</a>
                            </li>
                           <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'orderdetail' %}">CONTENU COMMANDE</a>
                           </li>
                           <li class="nav-item">
                                <a class="nav-link mr-auto" href="{% url 'payment' %}">PAYEMENT</a>
                           </li>


{#                            <li class="nav-item">#}
{#                                <a class="nav-link mr-auto" href="{% url 'contact-detail' %}">CONTENU CONTACT</a>#}
{#                            </li>#}
                      </ul>
{#                          {% for item in navigation_items %}#}
{#                            <li class="nav-item {% if item.active %}active{% endif %}">#}
{#                                <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>#}
{#                            </li>#}
{#                        {% endfor %}#}

                      <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                             <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                            </li>
                        {% else %}
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                              </li>
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" href="{% url 'profil' %}">Profil</a>#}
{#                            </li>#}
                        {% endif %}
                 </ul>
                </div>
             </nav>
           </div>

       </div>
  </header>


<div class="container">
<div class=jumbotron>
 <div class=container>
  <div class=fond>
  <h2>BIENVENUE DANS L'ANNONCE</h2>
  <p>Toujours les nouveautés sont disponible !</p>
  </div>
 </div>
</div>

{#    <div class= "row justify-content-center">#}
    <div>
            <div>
                    {% block content %}
                    {% endblock %}<br />
            </div>
    </div><br/><br />

{#    <div >#}
{#         <div class="col-xl-3">#}
{#                     <h3>#}
{#                         Fiscalité foncière#}
{#                     </h3>#}
{#                     <p class="btn-info border-right"><span>Evaluation des droits réels</span></p>#}
{##}
{#         </div>#}
{#         <div class="col-xl-3">#}
{#                     <h3>#}
{#                         Transaction foncière#}
{#                     </h3>#}
{#                     <p class="btn-info border-right">#}
{#                         <span>Transfert des droits</span>#}
{#                    </p>#}
{#         </div>#}
{#    </div>#}
</div>


</body><br />
 <footer>
      <nav>
       <section>
            <h1>Gis Consulting</h1>
                    <p><img src="images/somersaults.jpeg" alt=""> Go to the gym with
                        our somersaults class! Our teacher Jim takes you through the paces
                        in this two-part article. <a href="articles/somersaults/1">Part 1</a> · <a href="articles/somersaults/2">Part 2</a></p>
                    <p><img src="images/kindplus.jpeg"> Tired of walking on the edge of
                        a clif<!-- sic -->? Our guest writer Lara shows you how to bumble
                        your way through the bars. <a href="articles/kindplus/1">Read more...</a></p>
                    <p><img src="images/crisps.jpeg"> The chips are down, now all that's left is a potato. What can you do with it? <a
        href="articles/crisps/1">Read more...</a></p>
       </section>
           <ul>
                <li> <a href="/about">About us...</a>
                <li> <a href="/feedback">Send feedback!</a>
                <li> <a href="/sitemap">Sitemap</a>
           </ul>
      </nav>
      <p><small>GisConsulting © 2021 The Kalaliso —
  <a href="/tos">Terms of Service</a></small></p>
 </footer>
{#    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>#}
{#    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>#}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/node_modules/leaflet/dist/leaflet.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</html>

<script src="{% static 'js/main.js' %}"></script>
{#<link src="{% static 'js/main.js' %}"></link>#}


