<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<st lang="en">
<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <title>Kalaliso App</title>
             <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
             <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<section>
     <topnavbar class=" col-lg-12 navbar navbar-expand-sm navbar-brand bg-success">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="topnavbar">
             <nav class="col-md-6 offset-3 text-center">
                     <p  style="color: whitesmoke ">
                         <small>
                             <em>
                                 Telephone: 78 36 06 03 Email: gisconsulting4@mail.com Bamako-Mali
                             </em>
                         </small>
                     </p>
             </nav>
        </div>
      </div>
    </topnavbar>
</section>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KALALISO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:homepage' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:products_list' %}">Albums</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:show_video' %}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:anonce' %}">Annonce</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Publicte</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aide
          </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
        </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#        </li>#}
      </ul>
         <nav>
            <div class="btn-toolbar mb-2 mb-md-0">
             <div class="btn-group me-2">
{#                 <p>Bienvenu {{ User }}</p>#}
                    <a class="btn btn-sm btn-outline-secondary " href="{% url 'accounts:disconnect' %}"><i class="fas fa-user-plus"></i>Logout</a>
          </div>
        </div>
    </nav>

    </div>
  </div>
</nav>


    <sidebar>

          <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
{#                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">#}
{#                    <span class="fs-5 d-none d-sm-inline">Dashboard</span>#}
{#                </a>#}
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" style="color: white">Rubrique</span>
                        </a><hr>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2" style="color: white"></i> <span class="ms-1 d-none d-sm-inline"> Personne</span> >> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'contacts:person' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">1. Ajouter un client</span> </a>
                            </li>
                            <li>
                                <a href="{% url 'contacts:list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. Liste des clients</span> </a>
                            </li>

                        </ul>

                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline"> Mesure</span> >> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'kalaliso:mesure' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">1. Ajouter mesure</span> </a>
                            </li>
                            <li>
                                <a href="{% url 'kalaliso:list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. Liste des mesures</span></a>
                            </li>

                        </ul>
                     <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Product</span> >> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">

                            <li>
                                <a href="{% url 'kalaliso:product' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">1. Add product</span></a>
                            </li>
                            <li>
                                <a href="{% url 'kalaliso:products_list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. List products</span></a>
                            </li>


                        </ul>

                     <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Commande</span> >> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">

                            <li>
                                <a href="{% url 'kalaliso:order' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">1. Commander</span></a>
                            </li>
                            <li>
                                <a href="{% url 'kalaliso:order_items' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. Detail commandes</span></a>
                            </li>
                            <li>
                                <a href="{% url 'kalaliso:order_list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">3. Liste des commandes</span></a>
                            </li>

                        </ul>

                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Payment</span> >></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'kalaliso:payment' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">payment</span> 1</a>
                            </li>
                            <li class="w-100">
                                <a href="{% url 'kalaliso:depense' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Depense</span> 2</a>
                            </li>

{#                            <li>#}
{#                                <a href="{% url 'kalaliso:payment' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. Payement</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="{% url 'kalaliso:depense' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">2. Depense</span></a>#}
{#                            </li>#}
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Albums </span>>> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'kalaliso:products_list' %}" class="nav-link px-0"> <span class="d-none d-sm-inline"><h6 class="btn btn-info">Bronze</h6></span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><h6 class="btn btn-success">Or</h6></span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><h6 class="btn btn-warning">Diamant</h6></span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><h6 class="btn btn-danger">Will</h6></span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'kalaliso:home' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Payments</span></a>
                    </li>


                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'profile/image-profile/my-picture.png' %}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">fulani</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
{#        <div class="col py-3">#}
{#            Bienvenu chez kalaliso !#}
{#        </div>#}
{#    </div>#}
</div>
</div>

</sidebar>
<div class="card col-lg-10 offset-sm-2"
     style=" margin-top: -800px;>

    {% block content %}

    {% endblock %}

{#     {% block section %}#}
{##}
{#    {% endblock section%}#}
</div>

  <div class="copyright-footer" style="position: fixed; bottom: 0px; width: 100%; text-align: center;">
    <p>&copy; <a href="#">Kalaliso.com</a> 2023, All Right Reserved.</p>
  </div>

</body>
              <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>

