<!DOCTYPE html>
{% load static %}

<body lang="en">
<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <title>Kalaliso App</title>
             <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{#             <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">#}
{#             <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">#}
{#             <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">#}


</head>
        {% block content %}

        {% endblock %}

</body>
{#            <script src="{% static 'assets/js/jquery-3.6.3.min.js' %}"></script>#}
              <script src="{% static 'js/bootstrap.min.js' %}"></script>
{#            <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>#}
{#            <script src="{% static 'assets/js/main.js' %}"></script>#}

</html>

