# HOW ACTIVATE PATH
{#export PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/b‌​in#}
{#HOW CREATE VENV ON PYTHON#}
python -m venv venv

Bash completion has been installed to:
  /usr/local/etc/bash_completion.d

postgres:
Disable this behaviour by setting HOMEBREW_NO_INSTALL_CLEANUP.
Hide these hints with HOMEBREW_NO_ENV_HINTS (see `man brew`).

 /usr/local/opt/postgresql@14/bin/postgres -D /usr/local/var/postgresql@14

postgis:
Disable this behaviour by setting HOMEBREW_NO_INSTALL_CLEANUP.
Hide these hints with HOMEBREW_NO_ENV_HINTS (see `man brew`).
/usr/local/Cellar/postgis/3.3.4_1: 725 files, 46.2MB

gdal:



psycopg2-binary==2.9.6 not install again

HOW INSTALL GDAL
pip install GDAL==3.7.2
HOW INSTALL GEOSERVER-REST
pip install geoserver-rest==2.5.3

SECRET_KEY=$s7p551k75n+3l2iuf*qv92xo+c0i5)@4&_^4ev%q&p%*x75bl
DEBUG=True
ALLOWED_HOSTS=['*']
BD_NAME=dugukolo
BD_HOST=localhost
BD_PASSWORD=password
BD_USER=postgres
BD_PORT=5432


#Verificated installation GDAL with shell

from osgeo import gdal
from osgeo import ogr
from osgeo import osr
from osgeo import gdal_array
from osgeo import gdalconst

SECOND HOW ACTIVATE PATH
{#export PATH="/usr/bin/pip3"#}
{#export PATH="/usr/bin:$PATH"#}

{# .env #}
My_SECRET_KEY='$s7p551k75n844943*&f*qv92xo+c0i5)@4&_^4ev%q&p%*x75bl'
My_DEBUG=True

BD_NAME='plateform',
My_ALLOWED_HOSTS=['*'],
BD_PASSWORD='password',
BD_USER='myprojectuser',
BD_PORT='5432'

def login(request):
#     if request.method == 'POST':
#         username = request.POST['username']
#         password = request.POST['password']
#         user = authenticate(request, username=username, password=password)
#         if user is not None:
#             login(request, user)
#             messages.success(request, ('You Have been Logged In !'))
#             return redirect('accounts:dashboard')
#         else:
#             messages.success(request, ('Error you can try again !'))
#             return redirect('accounts:login')
#     else:
#         return render(request, 'accounts/login.html', {})

# def login(request):
#     if request.method == 'POST':
#         return redirect('accounts:dashboard')
#     else:
#         return render(request, 'accounts/login.html')




# def register(request):
#     if request.method == 'POST':
#         form = SignUpForm(request.POST)
#         if form.is_valid():
#             form.save()
#             username = form.cleaned_data['username']
#             password = form.cleaned_data['password1']
#             user = authenticate(username=username, password=password)
#             login(request, user)
#             messages.success(request,('You Have Registered now...'))
#             return redirect('accounts:dashboard')
#     else:
#         form = SignUpForm(request.POST)
#     context = {'form': form}
#     return render(request, 'accounts/register.html', context)


         {% if form.errors %}

                <div class="alert alert-warning alert-dismissable" role="alert">
                      <button class="close"  data-dismiss="alert">
                          <small><sup>x</sup></small>
                      </button>
                     <p> Your Form has Errors ....</p>
<!--                      {% for field in form %}-->
<!--{#                        {% if field.errors %}#}-->
<!--{#                          {{ field.errors }}#}-->
<!--{#                        {% endif %}#}-->
<!--                      {% endfor %}-->
                {% endif form.errors %}



    # TYPE      = (
    #     ('Broderie', 'Broderie'),
    #     ('Couture simple', 'COUTURE SIMPLE'),
    #     ('Couture a main', 'COUTURE A MAIN'),
    #     ('Finition', 'FINITION'),)
    #
    # GENRE     = (
    #     ('H', 'Homme'),
    #     ('F', 'Femme'),
    #     ('A', 'Autres'),)
    #
    # CATEGORY  = (
    #     ('G', 'Grande'),
    #     ('M', 'Moyenne'),
    #     ('P', 'Petite'),)
    # # id        = forms.AutoField(primary_key=True)
    # title     = forms.CharField()
    # slug      = forms.SlugField()
    # tags      = forms.CharField()
    # image     = forms.ImageField()
    # type      = forms.ChoiceField(choices=TYPE, label='Broderie')
    # category  = forms.ChoiceField(choices=CATEGORY, label='Grande')
    # genre     = forms.ChoiceField(choices=GENRE, label='Homme')

{#CONTENT NOTE#}
{#    <div >#}
{#        <div class="col-xl-3">#}
{#                         <h3>Fiscalité foncière</h3>#}
{#                         <p class="btn-info border-right"><span>Evaluation des droits réels</span></p>#}
{##}
{#        </div>#}
{#        <div class="col-xl-3">#}
{#                         <h3>Transaction foncière</h3>#}
{#                         <p class="btn-info border-right"><span>Transfert des droits</span></p>#}
{#        </div>#}
{#    </div>#}

{#INSTALLATION GDAL#}
{#sudo apt install libgdal-dev#}
{#CONTENT FOOTER#}
{#        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">#}
{#          <ol class="carousel-indicators">#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>#}
{#          </ol>#}
{#          <div class="carousel-inner">#}
{#            <div class="carousel-item active">#}
{#              <img src="{% static '/photos/identite/Pantalon6.jpg' %}" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>OMB, pour vous rassurez de la sécurisation foncière</h5>#}
{#                <p>Sécuriser la terre est notre priorité.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="carousel-item">#}
{#              <img src="/photos/identite/ZONE_DETUDE.jpg" class="d-block w-100" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>Second slide label</h5>#}
{#                <p>Aménager sans immatriculer, c'est la charrue avant le boeuf</p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="carousel-item">#}
{##}
{#              <img src="/photos/identite/Capture_décran_221.png" class="d-block w-100" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>Third slide label</h5>#}
{#                <p>Un périmètre Un cadastre rural.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Previous</span>#}
{#          </a>#}
{#          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Next</span>#}
{#          </a>#}
{#        </div>#}



Douniya_12Toure


create database douniyakafe;
create user myprojectuser WITH PASSWORD 'douniyakafe';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE douniyakafe TO myprojectuser;

create database kaladb;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE kaladb TO myprojectuser;

create database plateform;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE plateform TO myprojectuser;
\c plateform ;
create extension postgis;

create database alkawsara;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE alkawsara TO myprojectuser;
\c alkawsara ;
create extension postgis;


create database dugukolo;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE dugukolo TO myprojectuser;
\c dugukolo ;
create extension postgis;


create database data_omb;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE data_omb TO myprojectuser;
\c data_omb ;
create extension postgis;

<!--            <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">-->


how create account with django 1.11 https://youtu.be/V1DOQyB5LXA

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'plateform',
        'USER': 'myprojectuser',
        'PASSWORD':'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
                   </div>-->

              # id = request.POST.get("id")
            # coud = request.POST.get("coude")
            # epau = request.POST.get("epaule")
            # ma = request.POST.get("manche")
            # to_ma = request.POST.get("tour_manche")
            # tail = request.POST.get("taille")
            # poitr = request.POST.get("pointrine")
            # lo_bo = request.POST.get("longueur_boubou")
            # lo_pa = request.POST.get("longueur_patanlon")
            # fes = request.POST.get("fesse")
            # cei = request.POST.get("ceinture")
            # cui = request.POST.get("cuisse")
            # pat = request.POST.get("patte")
            # cre = request.POST.get('created_at')
            # upd = request.POST.get('update_at')
            # pmid = request.POST.get('person_mesure_id=id')
            #
            # data = Mesure(id=id,
            #               coude=coud,
            #               epaule=epau,
            #               manche=ma,
            #               tour_manche=to_ma,
            #               taille=tail,
            #               poitrine=poitr,
            #               longueur_boubou=lo_bo,
            #               longueur_patanlon=lo_pa,
            #               fesse=fes,
            #               ceinture=cei,
            #               cuisse=cui,
            #               patte=pat,
            #               update_at=upd,
            #               created_at=cre,
            #               person_mesure_id=pmid,)
                    # data.save()

            ig = request.POST.get("image")
            sta = request.POST.get("status")
            type_tail = request.POST.get("type_tailleur")
            gre = request.POST.get("genre")
            cat = request.POST.get("category")
            c_p = request.POST.get("code_person")
            pre = request.POST.get("prenom")
            no = request.POST.get("nom")
            cont = request.POST.get("contact_1")
            ema = request.POST.get("email")
            dom = request.POST.get("domicile")
            al = request.POST.get("alias")
            prf = request.POST.get("profession")
            cont2 = request.POST.get("contact_2")
            nais_date = request.POST.get("date_naissance")
            nat = request.POST.get("nationalite")
            tut = request.POST.get("tutuelle")
            tele_fix = request.POST.get("telephonique_fix")
            nur = request.POST.get("numero_reference")
            nn = request.POST.get("nina")
            dacreat = request.POST.get("created_at")

            data = Person(status=sta, prenom=pre, nom=no,
                          genre=gre, contact_2=cont2, alias=al, category=cat,
                          contact_1=cont, code_person=c_p, type_tailleur=type_tail,
                          telephonique_fix=tele_fix, numero_reference=nur, date_naissance=nais_date,
                          tutuelle=tut, domicile=dom, nina=nn, profession=prf,
                          nationalite=nat, email=ema, created_at=dacreat, image=ig,)
            data.save()

                                na = request.POST.get("name")
            cod = request.POST.get("code_product")
            des = request.POST.get("description")
            pric = request.POST.get("price")
            dat = request.POST.get("create_at")
            im = request.POST.get("image_id")
            data = Product(price=pric,
                           name=na,
                           code_product=cod,
                           description=des,
                           create_at=dat,
                           image_id=im)
            data.save()

                                # ida = request.POST.get("id")
            cd = request.POST.get("code_order")
            rend = request.POST.get("rendez_vous")
            confr = request.POST.get("confirmed")
            cancel = request.POST.get("cancelled")
            rem = request.POST.get("remise")
            recp = request.POST.get("reception")
            crt = request.POST.get("create_at")

            data = Order(
                         # id=ida,
                         code_order=cd,
                         rendez_vous=rend,
                         confirmed=confr,
                         cancelled=cancel,
                         remise=rem,
                         reception=recp,
                         create_at=crt)
            data.save()
                    # rm = request.POST.get("remise")
            tv = request.POST.get("tva")
            mt = request.POST.get("montant_total")
            # rd = request.POST.get("rendez_vous")
            lv = request.POST.get("livre")
            creat = request.POST.get("create_at")
            data = Payment(
                           # remise=rm,
                           tva=tv,
                           montant_total=mt,
                           # rendez_vous=rd,
                           livre=lv,
                           create_at=creat,)
            data.save()
                            subm = request.POST.get("submontant")
        ca = request.POST.get("category")
        qt = request.POST.get("quantity")
        # tv = request.POST.get("tva")
        # rm = request.POST.get("remise")
        creat = request.POST.get("create_at")

        data = Order_Items(
                           submontant=subm,
                           category=ca,
                           quantity=qt,
                           # tva=tv,
                           create_at=creat,)

        # CODE FOR INSTANCIATION
        # form = PartialAuthorForm(request.POST, instance=author)

        data.save()
                    # def orderdetail(request):
#     if request.method == 'POST':
#         ca = request.POST.get("category")
#         qt = request.POST.get("quantity")
#         tv = request.POST.get("tva")
#         rm = request.POST.get("remise")
#         creat = request.POST.get("create_at")
#
#         data = OrderDetail(category=ca,
#                            remise=rm,
#                            quantity=qt,
#                            tva=tv,
#                            create_at=creat,)
#
#         # CODE FOR INSTANCIATION
#         # form = PartialAuthorForm(request.POST, instance=author)
#
#         data.save()
#         return HttpResponseRedirect(reverse('orderdetail'))
#     else:
#         form = OrderDetailForm()
#     return render(request, 'kalaliso/orderdetail.html', {'form': form})
                    {#            justify-content-center#}
            <div class="form-group col-sm-4 mb-0">
                {{ form.montant_total|as_crispy_field }}
            </div>

            <div class="form-group col-sm-4 mb-0">
                {{ form.person_id|as_crispy_field }}
            </div>
        </div>
        <div class="row offset-1">
            <div class="form-group col-sm-4 mb-0">
                {{ form.paymentOrder|as_crispy_field }}
            </div>
             <div class="form-group col-sm-4 mb-0">
                {{ form.create_at|as_crispy_field }}
         </div>
           <div class="row offset-sm-0">
             <div class="form-group">
                {{ form.livre|as_crispy_field }}
            </div>
            </div>

GDAL_LIBRARY_PATH='/Users/me/.pyenv/versions/3.6.5/lib/python3.6/site-packages/django/contrib/gis/gdal/libgdal.py'
GDAL_LIBRARY_PATH='/venv/lib/python3.6/site-packages/django/contrib/gis/gdal/libgdal.py'
GDAL_LIBRARY_PATH='/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/django/contrib/gis/gdal/libgdal.py'
/Users/foussenytoure/Documents/ProjectPycharm/douniyasoba /venv/lib/python3.6/site-packages/django/contrib/gis/gdal/libgdal.py
/Users/foussenytoure/Documents/ProjectPycharm/douniyasoba
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/django/contrib/gis/gdal
class ContactForm(forms.ModelForm):

    STATUS = (
        ('PERSONNE',    'Personne'),
        ('SOCIETE',     'Societe'))
    status = forms.ChoiceField(choices=STATUS)
    SEXE = (
        ('HOMME',      'Homme'),
        ('FEMME',      'Femme'))
    sexe = forms.ChoiceField(choices=SEXE, widget=forms.RadioSelect, initial='Homme')
    nom = forms.CharField(label="Nom", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Nom'}))

    prenom = forms.CharField(label="Prenom", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Prenom'}))

    # matricule = forms.CharField(label="Matricule", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Matricule'}))
    photo = forms.ImageField()
    contact = forms.CharField(label="Contact", max_length=8, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Contact'}))
    n_cin = forms.CharField(label="Carte d'Indentite Nationale", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'CIN'}))
    nina = forms.CharField(label="NINA", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'NINA'}))
    profession = forms.CharField(label="Profession", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Profession'}))
    rcimm = forms.CharField(label="Registre Commerce", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Registre Commerce'}))
    nif = forms.CharField(label="NIF", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'NIF'}))
    siege_social = forms.CharField(label="SIEGE SOCIAL", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Siege Social'}))
    responsable = forms.CharField(label="RESPONABLE", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Responsable'}))
    email = forms.EmailField(max_length=50, label='ADRESSE EMAIL', widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Email'}))
    # created_at = forms.DateTimeField(widget=BootstrapDateTimeInput())
    created_at = forms.DateTimeField(
        input_formats=['%d/%m/%Y %H:%M'],
        widget=forms.DateTimeInput(attrs={
            'class': 'form-control datetimepicker-input',
            'data-target': 'datetimepicker1'
        })
    )
    class Meta:
            model = Contact
            fields = ['status', 'sexe', 'contact', 'nom', 'prenom', 'photo', 'nina', 'nif', 'siege_social',
                      'responsable', 'email', 'created_at']
            exclude = ['matricule']

Models Order AND Orders_Items
{#class Order(models.Model):#}
{#    user = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.SET_NULL, blank=True, null=True)#}
{#    product = models.ManyToManyField('OrderItem', related_name='ordered_products')#}
{#    date_ordered = models.DateTimeField(auto_now_add=True)#}
{#    complete = models.BooleanField(default=False)#}
{#    transaction_id = models.CharField(max_length=200, null=True, unique=True)#}
{#    payment = models.ForeignKey('Payment', on_delete=models.SET_NULL, blank=True, null=True)#}
{#    received = models.BooleanField(default=False)#}

{#class OrderItem(models.Model):#}
{#    order = models.ForeignKey(Order, on_delete=models.CASCADE, null=True, blank=True,)#}
{#    product = models.ForeignKey(Product, on_delete=models.CASCADE)#}
{#    quantity = models.IntegerField(default=1, blank=True, null=True)#}

View file for Order and Items_order
{#def processorder(request):#}
{#    transaction_id = create_transaction_id()#}
{#    data = json.loads(request.body)#}
{#    user = request.user#}
{#    order, created = Order.objects.get_or_create(user=user, complete=False)#}
{#    items = order.orderitem_set.all()#}
{#    total = float(data['form']['total'])#}
{#    order.transaction_id = transaction_id#}
{#    order.items = items#}
{##}
{#    if total == order.get_cart_total:#}
{#        order.complete = True#}
{#    order.save()#}
{#    if order.shipping == True:#}
{#        ShippingAddress.objects.create(#}
{#        user=user,#}
{#        order=order,#}
{#        address=data['shipping']['address'],#}
{#        city=data['shipping']['city'],#}
{#        state=data['shipping']['state'],#}
{#        zipcode=data['shipping']['zipcode'],#}
{#        )#}
{##}
{#    return JsonResponse('Payment Complete', safe=False)#}


{# <div class="container">#}
{##}
{#     <div class="row row-cols-2">#}
{#            <form action="{% url 'adresses' %}" method="post">#}
{#                {% csrf_token %}#}
{#                                <div class="wrapper row ">#}
{#                                    <!-- field status -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="status">#}
{#                                            <option selected>Status</option>#}
{#                                            <option value="Personne">Personne</option>#}
{#                                            <option value="Societe">Societe</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field sexe -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="sexe">#}
{#                                            <option selected>Sexe</option>#}
{#                                            <option value="H">Homme</option>#}
{#                                            <option value="F">Femme</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field nom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="nom"></label>#}
{#                                                  <input type="text" class="form-control" id="nom" placeholder="Nom">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field prenom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="prenom"></label>#}
{#                                                  <input type="text" class="form-control" id="prenom" placeholder="Prenom">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field matricule -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputMatr"></label>#}
{#                                                  <input type="text" class="form-control" id="inputMatr" placeholder="Matricule">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field contact -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="NumberPhone"></label>#}
{#                                                  <input type="text" class="form-control" id="NumberPhone" placeholder="Telephone">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field numero CIN -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputCarteIdentiteNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputCarteIdentiteNationale" placeholder="CIN">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field NINA  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationNationale" placeholder="Nina">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field profession  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputProfession"></label>#}
{#                                                  <input type="text" class="form-control" id="inputProfession" placeholder="Profession">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field registre de commerce  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputRegistreCommerceIndustrieMali"></label>#}
{#                                                  <input type="text" class="form-control" id="inputRegistreCommerceIndustrieMali" placeholder="RCIMM">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Numero d'identificaion Fiscal  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationFiscal"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationFiscal" placeholder="Nif">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field Siege Social  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputSiegeSocial"></label>#}
{#                                                  <input type="text" class="form-control" id="inputSiegeSocial" placeholder="Siege Social">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Responsable  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputResponsable"></label>#}
{#                                                  <input type="text" class="form-control" id="inputResponsable" placeholder="Responsable">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- column email input -->#}
{#                                       <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputEmail4"></label>#}
{#                                                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                        <!-- field date -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputdate"></label>#}
{#                                                  <input type="date" class="form-control" id="inputdate" placeholder="Date">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                 </div><br /><br />#}
{##}
{#                                    <!-- field Image Profil -->#}
{#                                    <div class="col">#}
{#                                        <div class="custom-file">#}
{#                                              <label class="custom-file-label" for="customFile">Profil Image</label>#}
{#                                              <input type="file" class="custom-file-input" id="customFile">#}
{#                                        </div>#}
{#                                    </div> <br />#}
{#                <div class="text-center border-right">#}
{#                        <button type="submit" class="btn btn-primary col-sm-3 text-center">Valider</button>#}
{#                </div>#}
{#          </form>#}
{#      </div>#}
{#    </div>#}
{#</div>#}

class="img-thumbnail"


        def __init__(self, *args, **kwargs):
                super().__init__(*args, **kwargs)

                self.helper = FormHelper()
                self.helper.form_method = 'post'
                self.helper.layout = Layout(
                            Div(
                                Field('coude', wrapper_class='col-md-3'),
                                Field('epaule', wrapper_class='col-md-3'),
                    css_class='form-row')
                    )

        person_mesure = forms.ModelChoiceField(queryset=Person.objects.all())
        coude = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        epaule = forms.IntegerField( widget=forms.NumberInput(attrs={'class': 'form-control'}))
        manche = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        tour_manche = forms.IntegerField( widget=forms.NumberInput(attrs={'class': 'form-control'}))
        taille = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        poitrine = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        longueur_boubou = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        longueur_patanlon = forms.IntegerField( widget=forms.NumberInput(attrs={'class': 'form-control'}))
        fesse = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        ceinture = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        cuisse = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        patte = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        # create_at = forms.DateField()
        # update_at = forms.DateField()

        NAME = (
            ('Boubou', 'Boubou'),
            ('Grand Boubou', 'Grand Boubou'),
            ('Chemise Complet', 'Chemise Complet'),
            ('Chemise Manche Long', 'Chemise Manche Long'),
            ('Chemise Manche Court', 'Chemise Manche Court'),
            ('Pagne Jupe', 'Pagne Jupe'),
            ('Pagne Complet', 'Pagne Complet'),
            ('Pagne Maniere', 'Pagne Maniere'),
            ('Patanlon', 'Patanlon'),
            ('Tenu Scolaire', 'Tenu Scolaire'),
            ('Tenu Securite', 'Tenu Securite'),
            ('AUTRES', 'AUTRES'),)
        name = forms.ChoiceField( choices=NAME, required='Boubou')
        code_product = forms.CharField(
                                 widget=forms.TextInput(attrs={'class': 'form-control'}))
        # price = forms.IntegerField(label="price", widget=forms.NumberInput(attrs={'class': 'form-control', 'price'}))
        # name = forms.CharField(label="Name Product", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'Name Product'}))
        photo = forms.ImageField()
        price = forms.DecimalField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
        # create_at = forms.DateField()
           def __init__(self, *args, **kwargs):
            super().__init__(*args, **kwargs)



            PRODUIT = [
                ('Boubou', 'Boubou'),
                ('Grand Boubou', 'Grand Boubou'),
                ('Chemise Complet', 'Chemise Complet'),
                ('Chemise Manche Long', 'Chemise Manche Long'),
                ('Chemise Manche Court', 'Chemise Manche Court'),
                ('Pagne Jupe', 'Pagne Jupe'),
                ('Pagne Complet', 'Pagne Complet'),
                ('Pagne Maniere', 'Pagne Maniere'),
                ('Patanlon', 'Patanlon'),
                ('Tenu Scolaire', 'Tenu Scolaire'),
                ('Tenu Securite', 'Tenu Securite'),
                ('AUTRES', 'AUTRES'),]
            id_person = forms.ModelChoiceField(queryset=Person.objects.all())
            # produit = forms.MultipleChoiceField(required=False, widget=forms.CheckboxSelectMultiple, choices=PRODUIT)
            reception = forms.DateField()

            rendez_vous = forms.DateField()

            def __init__(self, *args, **kwargs):
                super().__init__(*args, **kwargs)
    CATEGORY = (
        ('Homme', 'Homme'),
        ('Femme', 'Femme'),
        ('Fille', 'Fille'),
        ('Garçon', 'Garçon'),
        ('Autres', 'Autres'),
    )
    category = forms.ChoiceField(label='Category', choices=CATEGORY, required='HOMME')

    PRODUIT = [
        ('Boubou', 'Boubou'),
        ('Grand Boubou', 'Grand Boubou'),
        ('Chemise Complet', 'Chemise Complet'),
        ('Chemise Manche Long', 'Chemise Manche Long'),
        ('Chemise Manche Court', 'Chemise Manche Court'),
        ('Pagne Jupe', 'Pagne Jupe'),
        ('Pagne Complet', 'Pagne Complet'),
        ('Pagne Maniere', 'Pagne Maniere'),
        ('Patanlon', 'Patanlon'),
        ('Tenu Scolaire', 'Tenu Scolaire'),
        ('Tenu Securite', 'Tenu Securite'),
        ('AUTRES', 'AUTRES'), ]
    person_id = forms.ModelChoiceField(queryset=Person.objects.all())
    order_id = forms.ModelChoiceField(queryset=Order.objects.all())
    produit = forms.MultipleChoiceField(required=False, widget=forms.CheckboxSelectMultiple, choices=PRODUIT)
    submontant = forms.DecimalField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
    quantity = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
    remise = forms.IntegerField(widget=forms.NumberInput(attrs={'class': 'form-control'}))
    create_at = forms.DateField()

    # id = forms.AutoField(primary_key=True)
    paymentOrder = forms.ModelChoiceField(queryset=Order.objects.all())
    person_id = forms.ModelChoiceField(queryset=Person.objects.all())
    montant_total = forms.DecimalField( widget=forms.NumberInput(attrs={'class': 'form-control'}))
    livre = forms.BooleanField()
    create_at = forms.DateField()

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)


    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)



{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h5 class="text-left offset-1">BORD DE COMMANDE</h5><hr>
    <div class="row col-md-4 offset-md-1">
              <div class="orderform">
                 <form action="{% url 'order' %}" method="post">
                     {% csrf_token %}
                        <div class="orderform">
                            {{ form|crispy }}
                        </div><br />
                             <div class="row offset-md-1">
                                <div class="col-12 justify-content-center">
                                    <button type="submit" class="btn btn-primary col-md-4"> Save</button>
                                    <button type="reset" class="btn btn-danger col-md-4">Cancel</button>
                               </div>
                           </div>
                 </form>
              </div>
    </div>

<script>
    $(document).ready(() => {
        $('#Reset').click(function(event) {
            event.preventDefault();
            $('#orderform').clearForm();
        });
    });
</script>

{% endblock %}

<!--    <a href="{% url '' %}" class="btn btn-primary"> Upload Quote Image</a>-->

{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h5 class="text-left offset-1">BORD DE PAYEMENT</h5> <hr>
<div class="paymentform">
      <form action="{% url 'payment' %}" method="post">
        {% csrf_token %}
        <div class="row offset-1">
        <div class="form-group col-sm-4 mb-0">
                {{ form|crispy}}
        </div>
        </div><br />
        <div class="row offset-1">
            <div class="col-12 justify-content-center">
                     <input type="submit" value="Submit" class="btn btn-primary col-md-4">
                     <input type="reset" value="Reset" class="btn btn-danger col-md-4">
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(() => {
        $('#Reset').click(function(event) {
            event.preventDefault();
            $('#paymentform').clearForm();
        });
    });
</script>

{% endblock %}



{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <h5 class="text-left offset-1">ADD PRODUCTS</h5><hr>
          <div class="row">
<!--              <div>-->
                  <form action="{% url 'product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="col-lg-3 offset-md-1">
                           <div>
                              {{ form|crispy }}
                           </div>
                      </div>
                   <br />
                      <div class="offset-md-1">
                          <button type="submit"  class="btn btn-primary">Save</button>
                          <button type="button"  class="btn btn-danger">Cancel</button>
                      </div>

                </form>
<!--          </div>-->
       </div>
{% endblock %}


{% extends 'base.html' %}
<!--{% block title %} Upload {% endblock %}-->
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
      <a href="{% url 'upload' %}"></a><br>
            <div class="album offset-md-1">
                <div class="row">
<!--                     <div class="col-md-4">-->
                          <form  method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                                {{ form|crispy }}
                               <button type="submit" class="btn btn-primary"> Submit</button>
                           </form>
<!--                      </div>-->
                 </div>
             </div>
{% endblock %}

        cachetools==4.2.4
cffi==1.15.1

charset-normalizer==3.0.1
click-plugins==1.1.1
cligj==0.7.2
crispy-bootstrap5==0.5
cryptography==40.0.2

Django==3.2.5
django-bootstrap-datetimepicker==1.5
django-crispy-forms==1.13.0
psycopg2-binary==2.8.4
zipp==3.6.0
click==8.0.4
django-leaflet==0.28.3
django-paypal==2.0
django-phonenumber-field==6.0.0
django-polymorphic==3.1.0
Fabric3==1.14.post1
fiona==1.8.22
html5lib==1.1
idna==3.4
importlib-metadata==4.8.3
lxml==4.9.2
numpy==1.19.5
oscrypto==1.3.0
packaging==21.3
paramiko==2.12.0
paypal==1.2.5
Pillow==8.4.0
pycparser==2.21
pyHanko==0.17.2
pyhanko-certvalidator==0.20.1
PyNaCl==1.5.0
pypdf==3.8.0
pypng==0.20220715.0
python-bidi==0.4.2
python-decouple==3.8
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.3.1
reportlab==3.6.8
requests==2.27.1
shapely==1.8.5
six==1.1.0
sqlparse==0.4.4
svglib==1.1.0
tinycss2==1.1.1
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
xhtml2pdf==0.2.10


        # class Village(models.Model):
#     # parcel          = models.ForeignKey('Parcel', on_delete=models.CASCADE,)
#     id             = models.AutoField(primary_key=True)
#     id_com         = models.ForeignKey('Commune', on_delete=models.CASCADE, verbose_name='Communes',)
#     id_village      = models.PositiveIntegerField()
#     nom_village     = models.CharField(max_length=50, blank=True, verbose_name='Quartiers/Villages')
#     long            = models.FloatField(blank=True)
#     alt             = models.CharField(max_length=50, blank=True, )
#     lat             = models.FloatField(blank=True)
#     # point        = models.PointField(geography=True, blank=True, null=True)
#
#     def __str__(self):
#         return '{}'.format(self.nom_village)
#
#
# class Commune(models.Model):
#     id           = models.AutoField(primary_key=True)
#     id_cercle    = models.ForeignKey('Cercle', on_delete=models.CASCADE, verbose_name='Cercles',)
#     com          = models.PositiveIntegerField()
#     commune      = models.CharField(max_length=50, blank=True)
#     # point     = models.PointField(geography=True,blank=True, null=True)
#
#     def __str__(self):
#         return '{}'.format(self.commune)
#
#
# class Cercle(models.Model):
#     id             = models.AutoField(primary_key=True)
#     id_reg         = models.ForeignKey('Region', on_delete=models.CASCADE,  verbose_name='Regions',)
#     id_cer         = models.PositiveIntegerField()
#     cercle         = models.CharField(max_length=50, blank=True)
#     # point     = models.PointField(geography=True, blank=True, null=True)
#
#     def __str__(self):
#         return '{}'.format(self.cercle)
#
#
# class Region(models.Model):
#     id          = models.AutoField(primary_key=True)
#     id_reg      = models.PositiveIntegerField()
#     region      = models.CharField(max_length=100)
#     # point     = models.PointField(geography=True, blank=True, null=True)
#
#     def __str__(self):
#         return'{}'.format(self.region)


# class Zone(models.Model):
#     NAME_CASIER          = (
#         ('Woloni', 'Woloni'),
#         ('Tounga Ouest', 'Tounga Ouest'),
#         ('Tounga Centre', 'Casier Centre'),
#         ('Tounga Est', 'Casier Est'),
#         ('Casier de Kandara', 'Casier de Kandara'),
#         ('Tibi', 'Tibi'),
#         ('Parampasso-NGoa', 'Parampasso-NGoa'),
#         ('Dahelan', 'Dahelan'),
#         ('Casier de Djenne Sud', 'Casier de Djenne Sud'),
#         ('Casier de Djenne Nord', 'Casier de Djenne Nord'),
#         ('Tiekilenso Nord', 'Tiekilenso Nord'),
#         ('Tiekilenso Sud', 'Tiekilenso Sud'),
#         ('Casier C', 'Casier C'),
#         ('San Est I', 'San Est I'),
#         ('San Est II', 'San Est II'),
#     )
#
#     name_casier          = models.CharField(max_length=50, choices=NAME_CASIER, )
#     # culture              = models.CharField(max_length=100)
#     locate_parcel        = models.ForeignKey('Parcel', on_delete=models.CASCADE,)
#
#     def __str__(self):
#         return '{}'.format(self.name_casier)