{#          <script src="{% static 'jq/jquery.slim.min.js'%}"></script>#}
{#           <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>#}




Douniya_12Toure


create database douniyakafe;
create user myprojectuser WITH PASSWORD 'douniyakafe';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE douniyakafe TO myprojectuser;

create database plateform;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE plateform TO myprojectuser;


how create account with django 1.11 https://youtu.be/V1DOQyB5LXA

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'plateform',
        'USER': 'myprojectuser',
        'PASSWORD':'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

Models Order AND Orders_Items
{#class Order(models.Model):#}
{#    user = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.SET_NULL, blank=True, null=True)#}
{#    product = models.ManyToManyField('OrderItem', related_name='ordered_products')#}
{#    date_ordered = models.DateTimeField(auto_now_add=True)#}
{#    complete = models.BooleanField(default=False)#}
{#    transaction_id = models.CharField(max_length=200, null=True, unique=True)#}
{#    payment = models.ForeignKey('Payment', on_delete=models.SET_NULL, blank=True, null=True)#}
{#    received = models.BooleanField(default=False)#}

{#class OrderItem(models.Model):#}
{#    order = models.ForeignKey(Order, on_delete=models.CASCADE, null=True, blank=True,)#}
{#    product = models.ForeignKey(Product, on_delete=models.CASCADE)#}
{#    quantity = models.IntegerField(default=1, blank=True, null=True)#}

View file for Order and Items_order
{#def processorder(request):#}
{#    transaction_id = create_transaction_id()#}
{#    data = json.loads(request.body)#}
{#    user = request.user#}
{#    order, created = Order.objects.get_or_create(user=user, complete=False)#}
{#    items = order.orderitem_set.all()#}
{#    total = float(data['form']['total'])#}
{#    order.transaction_id = transaction_id#}
{#    order.items = items#}
{##}
{#    if total == order.get_cart_total:#}
{#        order.complete = True#}
{#    order.save()#}
{#    if order.shipping == True:#}
{#        ShippingAddress.objects.create(#}
{#        user=user,#}
{#        order=order,#}
{#        address=data['shipping']['address'],#}
{#        city=data['shipping']['city'],#}
{#        state=data['shipping']['state'],#}
{#        zipcode=data['shipping']['zipcode'],#}
{#        )#}
{##}
{#    return JsonResponse('Payment Complete', safe=False)#}


{# <div class="container">#}
{##}
{#     <div class="row row-cols-2">#}
{#            <form action="{% url 'adresses' %}" method="post">#}
{#                {% csrf_token %}#}
{#                                <div class="wrapper row ">#}
{#                                    <!-- field status -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="status">#}
{#                                            <option selected>Status</option>#}
{#                                            <option value="Personne">Personne</option>#}
{#                                            <option value="Societe">Societe</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field sexe -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="sexe">#}
{#                                            <option selected>Sexe</option>#}
{#                                            <option value="H">Homme</option>#}
{#                                            <option value="F">Femme</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field nom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="nom"></label>#}
{#                                                  <input type="text" class="form-control" id="nom" placeholder="Nom">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field prenom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="prenom"></label>#}
{#                                                  <input type="text" class="form-control" id="prenom" placeholder="Prenom">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field matricule -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputMatr"></label>#}
{#                                                  <input type="text" class="form-control" id="inputMatr" placeholder="Matricule">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field contact -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="NumberPhone"></label>#}
{#                                                  <input type="text" class="form-control" id="NumberPhone" placeholder="Telephone">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field numero CIN -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputCarteIdentiteNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputCarteIdentiteNationale" placeholder="CIN">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field NINA  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationNationale" placeholder="Nina">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field profession  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputProfession"></label>#}
{#                                                  <input type="text" class="form-control" id="inputProfession" placeholder="Profession">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field registre de commerce  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputRegistreCommerceIndustrieMali"></label>#}
{#                                                  <input type="text" class="form-control" id="inputRegistreCommerceIndustrieMali" placeholder="RCIMM">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Numero d'identificaion Fiscal  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationFiscal"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationFiscal" placeholder="Nif">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field Siege Social  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputSiegeSocial"></label>#}
{#                                                  <input type="text" class="form-control" id="inputSiegeSocial" placeholder="Siege Social">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Responsable  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputResponsable"></label>#}
{#                                                  <input type="text" class="form-control" id="inputResponsable" placeholder="Responsable">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- column email input -->#}
{#                                       <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputEmail4"></label>#}
{#                                                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                        <!-- field date -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputdate"></label>#}
{#                                                  <input type="date" class="form-control" id="inputdate" placeholder="Date">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                 </div><br /><br />#}
{##}
{#                                    <!-- field Image Profil -->#}
{#                                    <div class="col">#}
{#                                        <div class="custom-file">#}
{#                                              <label class="custom-file-label" for="customFile">Profil Image</label>#}
{#                                              <input type="file" class="custom-file-input" id="customFile">#}
{#                                        </div>#}
{#                                    </div> <br />#}
{#                <div class="text-center border-right">#}
{#                        <button type="submit" class="btn btn-primary col-sm-3 text-center">Valider</button>#}
{#                </div>#}
{#          </form>#}
{#      </div>#}
{#    </div>#}
{#</div>#}

