{#          <script src="{% static 'jq/jquery.slim.min.js'%}"></script>#}
{#           <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>#}


{#CONTENT NOTE#}
{#    <div >#}
{#        <div class="col-xl-3">#}
{#                         <h3>Fiscalité foncière</h3>#}
{#                         <p class="btn-info border-right"><span>Evaluation des droits réels</span></p>#}
{##}
{#        </div>#}
{#        <div class="col-xl-3">#}
{#                         <h3>Transaction foncière</h3>#}
{#                         <p class="btn-info border-right"><span>Transfert des droits</span></p>#}
{#        </div>#}
{#    </div>#}

{#INSTALLATION GDAL#}
{#sudo apt install libgdal-dev#}
{#CONTENT FOOTER#}
{#        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">#}
{#          <ol class="carousel-indicators">#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>#}
{#            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>#}
{#          </ol>#}
{#          <div class="carousel-inner">#}
{#            <div class="carousel-item active">#}
{#              <img src="{% static '/photos/identite/Pantalon6.jpg' %}" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>OMB, pour vous rassurez de la sécurisation foncière</h5>#}
{#                <p>Sécuriser la terre est notre priorité.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="carousel-item">#}
{#              <img src="/photos/identite/ZONE_DETUDE.jpg" class="d-block w-100" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>Second slide label</h5>#}
{#                <p>Aménager sans immatriculer, c'est la charrue avant le boeuf</p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="carousel-item">#}
{##}
{#              <img src="/photos/identite/Capture_décran_221.png" class="d-block w-100" alt="responsive">#}
{#              <div class="carousel-caption d-none d-md-block">#}
{#                <h5>Third slide label</h5>#}
{#                <p>Un périmètre Un cadastre rural.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Previous</span>#}
{#          </a>#}
{#          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Next</span>#}
{#          </a>#}
{#        </div>#}

# width, height = A4
#
# heightList = [
#     height * 20 / 100, # header
#     height * 75 / 100, # body
#     height * 5 / 100,  # footer
# ]
#
# mainTable = Table([
#             ['Header'],
#             ['Body'],
#             ['Footer'],
#
# ],
#      colWidths=width,
#      rowHeights=heightList
# )
#
# mainTable.setStyle([
#     ('GRID', (0, 0), (-1, -1), 1, 'red'),
#     ('LEFTPADDING', (0, 0), (0, 2), 0),
#     ('BOTTOMPADDING', (0, 0), (-1, -1), 0),
# ]
# )
#
# mainTable.wrapOn(pdf, 0, 0)
# mainTable.drawOn(pdf, 0, 0)


Douniya_12Toure


create database douniyakafe;
create user myprojectuser WITH PASSWORD 'douniyakafe';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE douniyakafe TO myprojectuser;

create database plateform;
create user myprojectuser WITH PASSWORD 'password';
ALTER ROLE myprojectuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE myprojectuser SET client_encoding TO 'utf8';
ALTER ROLE myprojectuser SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE plateform TO myprojectuser;


how create account with django 1.11 https://youtu.be/V1DOQyB5LXA

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'plateform',
        'USER': 'myprojectuser',
        'PASSWORD':'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}



class ContactForm(forms.ModelForm):

    STATUS = (
        ('PERSONNE',    'Personne'),
        ('SOCIETE',     'Societe'))
    status = forms.ChoiceField(choices=STATUS)
    SEXE = (
        ('HOMME',      'Homme'),
        ('FEMME',      'Femme'))
    sexe = forms.ChoiceField(choices=SEXE, widget=forms.RadioSelect, initial='Homme')
    nom = forms.CharField(label="Nom", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Nom'}))

    prenom = forms.CharField(label="Prenom", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Prenom'}))

    # matricule = forms.CharField(label="Matricule", max_length=100, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Matricule'}))
    photo = forms.ImageField()
    contact = forms.CharField(label="Contact", max_length=8, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Contact'}))
    n_cin = forms.CharField(label="Carte d'Indentite Nationale", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'CIN'}))
    nina = forms.CharField(label="NINA", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'NINA'}))
    profession = forms.CharField(label="Profession", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Profession'}))
    rcimm = forms.CharField(label="Registre Commerce", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Registre Commerce'}))
    nif = forms.CharField(label="NIF", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'NIF'}))
    siege_social = forms.CharField(label="SIEGE SOCIAL", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Siege Social'}))
    responsable = forms.CharField(label="RESPONABLE", max_length=50, widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Responsable'}))
    email = forms.EmailField(max_length=50, label='ADRESSE EMAIL', widget=forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Email'}))
    # created_at = forms.DateTimeField(widget=BootstrapDateTimeInput())
    created_at = forms.DateTimeField(
        input_formats=['%d/%m/%Y %H:%M'],
        widget=forms.DateTimeInput(attrs={
            'class': 'form-control datetimepicker-input',
            'data-target': 'datetimepicker1'
        })
    )
    class Meta:
            model = Contact
            fields = ['status', 'sexe', 'contact', 'nom', 'prenom', 'photo', 'nina', 'nif', 'siege_social',
                      'responsable', 'email', 'created_at']
            exclude = ['matricule']

Models Order AND Orders_Items
{#class Order(models.Model):#}
{#    user = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.SET_NULL, blank=True, null=True)#}
{#    product = models.ManyToManyField('OrderItem', related_name='ordered_products')#}
{#    date_ordered = models.DateTimeField(auto_now_add=True)#}
{#    complete = models.BooleanField(default=False)#}
{#    transaction_id = models.CharField(max_length=200, null=True, unique=True)#}
{#    payment = models.ForeignKey('Payment', on_delete=models.SET_NULL, blank=True, null=True)#}
{#    received = models.BooleanField(default=False)#}

{#class OrderItem(models.Model):#}
{#    order = models.ForeignKey(Order, on_delete=models.CASCADE, null=True, blank=True,)#}
{#    product = models.ForeignKey(Product, on_delete=models.CASCADE)#}
{#    quantity = models.IntegerField(default=1, blank=True, null=True)#}

View file for Order and Items_order
{#def processorder(request):#}
{#    transaction_id = create_transaction_id()#}
{#    data = json.loads(request.body)#}
{#    user = request.user#}
{#    order, created = Order.objects.get_or_create(user=user, complete=False)#}
{#    items = order.orderitem_set.all()#}
{#    total = float(data['form']['total'])#}
{#    order.transaction_id = transaction_id#}
{#    order.items = items#}
{##}
{#    if total == order.get_cart_total:#}
{#        order.complete = True#}
{#    order.save()#}
{#    if order.shipping == True:#}
{#        ShippingAddress.objects.create(#}
{#        user=user,#}
{#        order=order,#}
{#        address=data['shipping']['address'],#}
{#        city=data['shipping']['city'],#}
{#        state=data['shipping']['state'],#}
{#        zipcode=data['shipping']['zipcode'],#}
{#        )#}
{##}
{#    return JsonResponse('Payment Complete', safe=False)#}


{# <div class="container">#}
{##}
{#     <div class="row row-cols-2">#}
{#            <form action="{% url 'adresses' %}" method="post">#}
{#                {% csrf_token %}#}
{#                                <div class="wrapper row ">#}
{#                                    <!-- field status -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="status">#}
{#                                            <option selected>Status</option>#}
{#                                            <option value="Personne">Personne</option>#}
{#                                            <option value="Societe">Societe</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field sexe -->#}
{#                                    <div class="col">#}
{#                                        <select class="form-select" id="sexe">#}
{#                                            <option selected>Sexe</option>#}
{#                                            <option value="H">Homme</option>#}
{#                                            <option value="F">Femme</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <!-- field nom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="nom"></label>#}
{#                                                  <input type="text" class="form-control" id="nom" placeholder="Nom">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field prenom -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="prenom"></label>#}
{#                                                  <input type="text" class="form-control" id="prenom" placeholder="Prenom">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field matricule -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputMatr"></label>#}
{#                                                  <input type="text" class="form-control" id="inputMatr" placeholder="Matricule">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field contact -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="NumberPhone"></label>#}
{#                                                  <input type="text" class="form-control" id="NumberPhone" placeholder="Telephone">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field numero CIN -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputCarteIdentiteNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputCarteIdentiteNationale" placeholder="CIN">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field NINA  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationNationale"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationNationale" placeholder="Nina">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field profession  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputProfession"></label>#}
{#                                                  <input type="text" class="form-control" id="inputProfession" placeholder="Profession">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field registre de commerce  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputRegistreCommerceIndustrieMali"></label>#}
{#                                                  <input type="text" class="form-control" id="inputRegistreCommerceIndustrieMali" placeholder="RCIMM">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Numero d'identificaion Fiscal  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputNumeroIdentificationFiscal"></label>#}
{#                                                  <input type="text" class="form-control" id="inputNumeroIdentificationFiscal" placeholder="Nif">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                    <!-- field Siege Social  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputSiegeSocial"></label>#}
{#                                                  <input type="text" class="form-control" id="inputSiegeSocial" placeholder="Siege Social">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- field Responsable  -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputResponsable"></label>#}
{#                                                  <input type="text" class="form-control" id="inputResponsable" placeholder="Responsable">#}
{#                                              </div>#}
{#                                        </div>#}
{##}
{#                                    <!-- column email input -->#}
{#                                       <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputEmail4"></label>#}
{#                                                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                        <!-- field date -->#}
{#                                        <div class="col">#}
{#                                              <div class="form-group">#}
{#                                                  <label for="inputdate"></label>#}
{#                                                  <input type="date" class="form-control" id="inputdate" placeholder="Date">#}
{#                                              </div>#}
{#                                       </div>#}
{##}
{#                                 </div><br /><br />#}
{##}
{#                                    <!-- field Image Profil -->#}
{#                                    <div class="col">#}
{#                                        <div class="custom-file">#}
{#                                              <label class="custom-file-label" for="customFile">Profil Image</label>#}
{#                                              <input type="file" class="custom-file-input" id="customFile">#}
{#                                        </div>#}
{#                                    </div> <br />#}
{#                <div class="text-center border-right">#}
{#                        <button type="submit" class="btn btn-primary col-sm-3 text-center">Valider</button>#}
{#                </div>#}
{#          </form>#}
{#      </div>#}
{#    </div>#}
{#</div>#}

