{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
            <ul class="nav justify-content-end">
{#                  <li class="nav-item">#}
{#                    <a class="nav-link btn btn-sm btn-outline-secondary active" href="{% url 'accounts:register' %}">Register</a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'accounts:login' %}">Login</a>#}
{#                  </li>#}
{#                  <li class="nav-item">#}
{#                    <a class="nav-linkbtn btn-sm btn-outline-secondary" href="{% url 'accounts:logout' %}"> <p>Bienvenu {{ username }}</p>Logout</a>#}
{#                  </li>#}
            </ul>
    </section>

{% endblock %}