{% extends 'base.html' %}
{% load static %}


{% block content %}
 <section>
  <aside id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home" class="align-text-bottom"></span>
            Content
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file" class="align-text-bottom"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:person' %}">
              <span data-feather="users" class="align-text-bottom"></span>
              Add +
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:detail' id %}">
              <span data-feather="users" class="align-text-bottom"></span>
                Detail Person
            </a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers" class="align-text-bottom"></span>
              Integrations
            </a>
          </li>
        </ul>

      </div>
    </aside>
 </section>

{% endblock %}