{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Depnse</title>
</head>
{% block content %}
<section class="m-2">
    <h2 class="col-md-8 m-2">Tableau des depenses</h2><hr>
    <div class="col-md-8 offset-2">
       <div class="DepenseForm">
            <form action="{% url 'gestion:depense' %}" method="post">
              {% csrf_token %}
                {{  form | crispy }}
            </form>
       </div>
    </div>
</section>
{% endblock %}<br>