{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} CARNET D'EAU {% endblock %}

{% block content %}
<div class="card col-lg-12">
<div class="card-title"><h4 class="justify-content-left">CARNET DE CONSOMMATION D'EAU</h4></div>
    <div class="card-body">
          {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <div class="table-responsive">

         <div class="col-md-6 offset-6 ">

                      <form action="{% url 'gestion:search_mesure'  %}" method="get">
                          <input placeholder="Search ..." class="form-control form-control-dark" type="search" name="search">
                          <button class="btn btn-primary my-2" type="submit" >Search</button>
                          <a href="{% url 'gestion:gestion'  %}" class="btn btn-secondary btn ">Add new mesure</a>
                          <a href="{% url 'gestion:report_all_mesure'  %}" class="btn btn-warning btn ">Report All Mesues</a>
                      </form>

         </div>
        <table id="bootstrapdatable" class="table table-striped table-bordered" width="80%">
        <thead>
            <tr>
                  <th>N°</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Volume</th>
                  <th>Litre</th>
                  <th>Difference</th>
                  <th>Debut arrosage</th>
                  <th>Fin arrosage</th>
                  <th>Quantite</th>
{#                  <th>Pointrine</th>#}
{#                  <th>Longueur Boubou</th>#}
{#                  <th>Longueur Patanlon</th>#}
{#                  <th>Fesse</th>#}
{#                  <th>Ceinure</th>#}
{#                  <th>Cuisse</th>#}
{#                  <th>Patte</th>#}
                  <th>View</th>
                  <th>Pdf</th>
                  <th>Update</th>
                  <th>Delete</th>
            </tr>
      </thead>
      <tbody>
                {% for gest in list_gest %}
                           <tr>
                                <td>{{ gest.id }}</td>
                                <td>{{ gest.person.prenom }}</td>
                                <td>{{ gest.person.nom }}</td>
                                <td>{{ gest.volume }}</td>
                                <td>{{ gest.litre }}</td>
                                <td>{{ gest.diff }}</td>
                                <td>{{ gest.start_eau }}</td>
                                <td>{{ gest.end_eau }}</td>
                                <td>{{ gest.quantity }}</td>
{#                                <td>{{ mesure.poitrine }}</td>#}
{#                                <td>{{ mesure.longueur_boubou }}</td>#}
{#                                <td>{{ mesure.longueur_patanlon }}</td>#}
{#                                <td>{{ mesure.fesse }}</td>#}
{#                                <td>{{ mesure.ceinture }}</td>#}
{#                                <td>{{ mesure.cuisse }}</td>#}
{#                                <td>{{ mesure.patte }}</td>#}
{#                                <td>{{ mesure.created_at }}</td>#}
                                                        <td>
                                                            <p class="text-center">
                                                            <a href="{% url 'gestion:detail' mesure.id %}">
                                                             <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                 fill="green" class="bi bi-view-list" viewBox="0 0 16 16">
                                                                    <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1
                                                                    2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5
                                                                    0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1
                                                                    0 1h-13A.5.5 0 0 1 1 14z"/>
                                                            </svg>
                                                            </a>
                                                            </p>

                                                        </td>

                                                        <td>
                                                            <p class="text-center">
                                                                <a href="{% url 'gestion:detail' mesure.id %}">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                        fill="currentColor" class="bi bi-filetype-pdf"
                                                                        viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0
                                                                                 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14
                                                                        4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287
                                                                        0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0
                                                                         .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176
                                                                         0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0
                                                                         1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0
                                                                         .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401
                                                                         0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084
                                                                         0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89
                                                                         0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8
                                                                         0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                                                                    </svg>
                                                                 </a>
                                                            </p>

                                                        </td>

                                                          <td>
                                                              <p class="text-center">
                                                                <a  href="{% url 'gestion:update_mesure' mesure.id%}">
                                                                     <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="green" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                                                     </svg>
                                                                </a>
                                                              </p>
                                                           </td>
                                                             <td>
                                                              <p class="text-center">
                                                                <a  href="{% url 'gestion:delete_mesure' mesure.id%}">
                                                                     <svg xmlns="http://www.w3.org/2000/svg"
                                                                         width="18" height="18" fill="red"
                                                                        class="bi bi-trash" viewBox="0 0 16 16">
                                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                                     </svg>
                                                                </a>
                                                              </p>
                                                           </td>

                           </tr>
                {% endfor %}
        </tbody>
    </table>
<nav>
      <ul  class="pagination justify-content-center">
              {% if list_mesure.has_previous %}
                        <li class="page-item">
                              <a class="page-link" href="?page={{ list_mesure.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                              </a>
                        </li>
              {% endif %}

              <li class="page-item">
                  <p class="page-link text-muted">Page {{ list_mesure.number }} of  {{ list_mesure.paginator.num_pages }} </p>
              </li>

              {% if list_mesure.has_next %}
                  <li class="page-item">
                          <a class="page-link" href="?page={{ list_mesure.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
              {% endif %}
      </ul>
</nav>

    </div>
</div>
</div>
</div>

{% endblock %}