{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{# {% include 'gestion/order_items.html' %}#}

 <div class="orderform">
          <div class="row col-md-8 m-2">
               {% crispy form1 %}<hr>
               {% crispy form %}

         <a href="{% url 'gestion:order' %}"></a>
{#          <a href="{% url 'gestion:order_items' %}"></a>#}
              <input type="submit" value="Submit" class="btn btn-primary col-md-2 m-2">
              <input type="reset" value="Reset" class="btn btn-danger col-md-2 m-2">
               <a href="{% url 'gestion:order_list'  %}" class="btn btn-dark col-md-2 m-2"> All orders</a>

          </div>
</div>
{#<div class="orderitems">#}
{#          <div class="row-cols-auto offset-1">#}
{#               #}
{#         #}
{#          </div>#}
{#</div>#}
    <script>
        $(document).ready(() => {
            $('#Reset').click(function(event) {
                event.preventDefault();
                $('#orderform').clearForm();
            });
        });
    </script>
{% endblock  %}