{% extends 'base.html' %}
{% block title %} Liste des clients {% endblock %}

{% block content %}

<h5>LISTE DES CLIENTS</h5>

    <div class="row">
         <div class="col-md-4 ">
                  <form action="{% url 'search_person'  %}" method="get">
                      <input placeholder="Search ..." class="form-control form-control-dark" type="search" name="search">
                      <button class="btn btn-primary my-2" type="submit">Search</button>
                  </form>
         </div>
         <div class="col-md-4 ">
                <a href="{% url 'person' %}" class="btn btn-info">Add new  person</a><br>
         </div>
        <div class="col-md-4">
                   <a class="btn btn-info" href="{% url 'report_person_pdf'  %}">Create PDF</a>
          </div>
        <div class="col-md-4">
{#                   <a class="btn btn-info" href="{% url 'report_person_id_pdf'  %}">Create PDF by Custom</a>#}
          </div>
{#     <div class="col-md-4">#}
{#                   <a class="btn btn-info" href="{% url 'detail_person' person_id %}">Filter</a>#}
{#          </div>#}
    </div>
    <div class="table-responsive">

    <table id="bootstrapdatable" class="table table-responsive-md table-bordered" width="70%">
        <thead>

         <br/>
            <tr>
                  <th>Code</th>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Status</th>
                  <th>Genre</th>
                  <th>Contact</th>
                  <th>View</th>
                  <th>Update</th>
                  <th>Delete</th>
            </tr>
      </thead>

      <tbody>
             {% for person in list_person.all %}
                     <tr>
                                <a href="{% url 'list'  %}"></a>
                                <td>{{ person.code_person }}</td>
                                <td>{{ person.prenom }}</td>
                                <td>{{ person.nom }}</td>
                                <td>{{ person.status }}</td>
                                <td>{{ person.genre }}</td>
                                <td>{{ person.contact_1 }}</td>

                                <td> <p data-placement="top" data-toggle="tooltip"
                                 title="View"><a href="{% url 'detail_person' person.id %}"
                                 class="btn btn-info btn" data-title="View"
                                 data-toggle="modal" data-target="View">
                                 <span class="glyphicon glyphicon">
                                 </span></a></p>
                                </td>

                                <td> <p data-placement="top" data-toggle="tooltip"
                                 title="Update"><a href="/update/{{ detail_order.id }}"
                                 class="btn btn-secondary btn" data-title="Update"
                                 data-toggle="modal" data-target="Update">
                                 <span class="glyphicon glyphicon">
                                 </span></a></p></td>

                                 <td> <p data-placement="top" data-toggle="tooltip"
                                 title="Delete"><a  href="{% url 'delete_person' person.id %}"
                                 class="btn btn-danger btn" data-title="Delete"
                                 data-toggle="modal" data-target="Delete">
                                 <span class="glyphicon glyphicon">
                                 </span></a></p>
                                 </td>
                     </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
<nav>
          <ul  class="pagination justify-content-center">
              {% if persons.has_previous %}
                        <li class="page-item">
                              <a class="page-link" href="?page={{ persons.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                              </a>
                        </li>
              {% endif %}

              <li class="page-item">
                  <p class="page-link text-muted">Page {{ persons.number }} / {{ persons.paginator.num_pages }} </p>
              </li>

              {% if persons.has_next %}
                  <li class="page-item">
                          <a class="page-link" href="?page={{ persons.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
              {% endif %}
          </ul>
</nav>
{% endblock %}
