{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 class="text-center"> Detail Photo </h1><hr> <br />
 <section>
           <div class="row">
                          <div class="col-md-4">
                            <div  class="card mb-4 shadow-sm">
                              <img  src=" {{ product.photo.url }} " height="200">
                                  <p>
                                      <a href="{% url 'product'  %}" class="btn btn-primary my-2">Back To All Product</a>
                                  </p>
                              </div>
                        </div>
           </div>
</section>

           <div class="row">
                   {% for product in products.all %}
                          <div class="col-md-4">
                              <div class="card mb-4 shadow-sm">
                                  <img  src="{{ product.photo.url }}" height="200">
                                  <p>
                                      <a href="{% url 'product_detail' product.id %}" class="btn btn-primary my-2">Back To All Products</a>
                                  </p>
                                  <div class="card-body">
                                  {{ product.name }}
                                  {{ product.price }}
<!--                                  {{ product.code_product }}-->
<!--                                  {{ product.description }}-->
<!--                                  {{ product.create_at }}-->
                                  </div>
                              </div>
                        </div>
                   {% endfor %}
           </div>

{% endblock  %}

