{#{% extends 'base.html' %}#}
{% load static %}
<head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <title>Kalaliso</title>
             <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
             <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<section>
     <topnavbar class="col-lg-12 navbar navbar-expand-sm navbar-brand bg-success">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="topnavbar">
             <nav class="col-md-6 offset-3 text-center">
                     <p  style="color: whitesmoke ">
                         <small>
                             <em>
                                 Telephone: 78 36 06 03 Email: gisconsulting4@mail.com Bamako-Mali
                             </em>
                         </small>
                     </p>
             </nav>
        </div>
      </div>
    </topnavbar>
</section>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KALALISO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:homepage' %}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:products_list' %}">Albums</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:show_video' %}">Videos</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'kalaliso:anonce' %}">Annonce</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Publicte</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aide
          </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
        </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#        </li>#}
      </ul>
         <nav>
            <div class="btn-toolbar mb-2 mb-md-0">
             <div class="btn-group me-2">
                    <a class="btn btn-sm btn-outline-secondary " href="{% url 'accounts:register' %}"><i class="fas fa-user-plus"></i>Register</a>
                    <a class="btn btn-sm btn-outline-secondary " href="{% url 'accounts:connect' %}"><i class="fas fa-user-plus"></i>Login</a>
          </div>
        </div>
    </nav>

    </div>
  </div>
</nav>

{% block content %}
    <section class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-warning">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Publicites sur les nouvelles creation  !</h1>
      <p class="lead my-3"> La premiere plateforme de gestion des ateliers de Couture au Mali</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Annonce</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider  lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Defilé de mode</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

</section>

{% endblock %}
