{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Depnse</title>
</head>
{% block content %}<br>
<section>
    <h4>Tableau des depenses</h4>
    <div class="col-md-8 offset-2">
       <div class="DepenseForm">
            <form action="{% url 'kalaliso:depense' %}" method="post">
              {% csrf_token %}
                {{  form | crispy }}
            </form>
       </div>
    </div>
</section>
{% endblock %}<br>