{% extends 'base.html' %}
{% load static %}

{% block title %} CARNET DE MESURE {% endblock %}

{% block content %}

 <div class="card col-md-6">
  <h2>Carnet de mesure</h2>

                            <div class="card-body">
                                <h6>Code             :{{ mesure.person.code_person }}</h6>
                                <h6>Prenom           : {{ mesure.person.prenom }}</h6>
                                <h6>Nom              :{{ mesure.person.nom }}</h6>
                                <h6>Coude            :{{ mesure.coude }}</h6>
                                <h6>Epaule           :{{ mesure.epaule }}</h6>
                                <h6>Manche courte    :{{ mesure.manche_courte }}</h6>
                                <h6>Manche longue    :{{ mesure.manche_longue }}</h6>
                                <h6>Tour Manche      : {{ mesure.tour_manche }}</h6>
                                <h6>Taille           : {{ mesure.taille }}</h6>
                                <h6>Pointrine        :{{ mesure.poitrine }}</h6>
                                <h6>Longueur Boubou  :{{ mesure.longueur_boubou }}</h6>
                                <h6>Longueur Patanlon:{{ mesure.longueur_patanlon }}</h6>
                                <h6>Fesse            :{{ mesure.fesse }}</h6>
                                <h6>Ceinture         :{{ mesure.ceinture }}</h6>
                                <h6>Cuisse           : {{ mesure.cuisse }}</h6>
                                <h6>Patte            :{{ mesure.patte }}</h6>
                                <h6>Date Creation    :{{ mesure.created_at }}</h6>

                             </div>


    </div>
              <div class="col-sm-4 m-2">
                         <a href="{% url 'kalaliso:detail' mesure.id %}" class="btn btn-info">Generated PDF</a>
                         <a href="{% url 'kalaliso:list' %}" class="btn btn-warning">Return to List Mesure</a>

              </div>
{% endblock %}
{#                           <tr> #}
{##}
{#                                <td>{{ mesure.id }}</td>#}
{#                                <td>{{ mesure.person_mesure.prenom }}</td>#}
{#                                <td>{{ mesure.person_mesure.nom }}</td>#}
{#                                <td>{{ mesure.coude }}</td>#}
{#                                <td>{{ mesure.epaule }}</td>#}
{#                                <td>{{ mesure.manche }}</td>#}
{#                                <td>{{ mesure.tour_manche }}</td>#}
{#                                <td>{{ mesure.taille }}</td>#}
{#                                <td>{{ mesure.poitrine }}</td>#}
{#                                <td>{{ mesure.longueur_boubou }}</td>#}
{#                                <td>{{ mesure.longueur_patanlon }}</td>#}
{#                                <td>{{ mesure.fesse }}</td>#}
{#                                <td>{{ mesure.ceinture }}</td>#}
{#                                <td>{{ mesure.cuisse }}</td>#}
{#                                <td>{{ mesure.patte }}</td>#}
{#                                <td>{{ mesure.created_at }}</td>#}
{#                           </tr>#}



{#        </tbody>#}
{#    </table>#}

{#    </div>#}
{#            <a href="{% url 'view_mesure' mesuredetail %}" class="btn btn-info">View Mesure</a>#}

