{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{# {% include 'kalaliso/order_items.html' %}#}

 <div class="orderform">
          <div class="row col-md-8 offset-md-1">
               {% crispy form1 %}<hr>
               {% crispy form %}

         <a href="{% url 'kalaliso:order' %}"></a>
         <a href="{% url 'kalaliso:order_list'  %}" class="justify-content-center btn btn-primary"> Views all orders</a>
{#          <a href="{% url 'kalaliso:order_items' %}"></a>#}
          </div>
</div>
{#<div class="orderitems">#}
{#          <div class="row-cols-auto offset-1">#}
{#               #}
{#         #}
{#          </div>#}
{#</div>#}
    <script>
        $(document).ready(() => {
            $('#Reset').click(function(event) {
                event.preventDefault();
                $('#orderform').clearForm();
            });
        });
    </script>
{% endblock  %}