{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{# {% include 'kalaliso/order_items.html' %}#}

<div class="orderform">
          <div >
               {% crispy form %}
          </div>
         <a href="{% url 'kalaliso:order' %}"></a>
         <a href="{% url 'kalaliso:order_list'  %}" class="btn btn-primary"> Views all orders</a>
</div>
    <script>
        $(document).ready(() => {
            $('#Reset').click(function(event) {
                event.preventDefault();
                $('#orderform').clearForm();
            });
        });
    </script>
{% endblock  %}