{% extends 'base.html' %}
{% load static %}




{% block content %}
 <div>
      <h3 class="text-center">CATALOGUE DES MODELES</h3><hr>
 </div>

<a href="{% url 'kalaliso:list' %}"></a>
{% for product in list %}
    {% if forloop.first %}<div class="row ">{% endif %}
    <div class=" col-md-4 " >
      <div class="text-start">
         <img src="{{product.photo.url}}"  height="50%" width="100%" class="img-thumbnail" alt="...">
          <ul>
              <li><p>Model:{{ product.name }} | Price: {{ product.price }}<span>FCFA</span></p></li>
              <li><P>Code:{{ product.code_product }} | Date de creation: {{ product.create_at }}</P></li>
              <li><p>Detail : {{ product.description }}</P></li>
              <li><p>Publie par : kalaliso</P></li>
          </ul>
          <button class="btn btn-success m-2">Commander</button>
          <button class="btn btn-dark">View</button>
      </div>
    </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class=row>{% endif %}
{% if forloop.last %}</div>{% endif %}

{% endfor %}
{% endblock content %}

