{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

   <div class="row">
       <div class="col-md-10 offset-1">
           <form action="{% url 'kalaliso:product'  %}"
                 class="ProductForm" method="post" enctype="multipart/form-data">
               {% csrf_token %}
{#                {% crispy form %}#}
               {{ form }}
           </form>
           <input type="submit" value="Submit">

       </div>
   </div>


{#             {% for product in products.all %}#}
{#                  <div class="col-md-4">#}
{#                  <div class="card mb-4 shadow-sm">#}
{#                      <a href="{% url 'product_detail' product.id  %}">#}
{#                           <img class="card-img-top" src="{{ product.photo.url }}" height="400">#}
{#                      </a>#}
{#                      <div class="card-body" >#}
{#                          <h6>Model: {{ product.name }}</h6>#}
{#                          <h6>Price: {{ product.price }} Fcfa</h6>#}
{#    <!--                  {{ product.code_product }}-->#}
{#    <!--                  {{ product.description }}-->#}
{#    <!--                  {{ product.size }}-->#}
{#    <!--                  {{ product.create_at }}-->#}
{#                      </div>#}
{#                  </div>#}
{#              </div>#}
{##}
{#          {% endfor %}#}


{% endblock  %}